@import "./normalize.scss";
@import "./bootstrap/bootstrap.scss";
@import "./slider.scss";
@import "./select.scss";
@import "./media.scss";

@import "./components/navigator.scss";
@import "./components/footer.scss";
@import "./components/usersidebar.scss";
@import "./components/pagination.scss";
@import "./pages/home.scss";
@import "./pages/search.scss";
@import "./pages/addProduct.scss";
@import "./pages/profile.scss";
@import "./pages/user.scss";
@import "./pages/prewiew.scss";
@import "./pages/enter.scss";
@import "./pages/replenishment.scss";
@import "./pages/reclam.scss";
@import "./pages/messageChat.scss";
@import "./pages/cart.scss";

body {
  font-family: "Rubik", sans-serif;
  & .wrapper {
    background: #f7faff;
    max-width: 2400px;
    margin: 0 auto;
    & a:hover {
      text-decoration: none;
    }
  }
}
