@media (max-width: 1200px) {
  //  HOME PAGE =====================================================================================

  .nav-header_left_search .search #search {
    width: 230px !important;
  }
  .vs--searchable .vs__dropdown-toggle {
    width: 150px !important;
    &::before {
      left: 5px !important;
    }
  }
  .vs__search::placeholder {
    font-size: 12px !important;
  }
  .vs__search,
  .vs__search:focus {
    margin: 5px 20px 0 !important;
  }
  .vs__actions::after {
    right: 5px !important;
  }
  .slick-next {
    right: 110px !important;
  }
  .slick-prev {
    left: 110px !important;
  }
  .home-section_products .big-img img {
    height: 240px !important;
  }
  .footer-wrapp_content_block p {
    font-size: 12px !important;
  }
  .footer-wrapp_content_block .call-number {
    font-size: 14px !important;
  }
  .footer-wrapp_links .apps {
    flex: 1;
    & img {
      width: 110px !important;
    }
  }

  // SEARCH PAGE ============================================================================

  .right .home-section_form .form {
    width: 180px !important;
    & input::placeholder {
      font-size: 12px !important;
    }
    & .price input {
      width: 80px !important;
      &::placeholder {
        font-size: 12px !important;
      }
    }
    & .icons-control .title {
      font-size: 11px !important;
    }
    & button {
      font-size: 12px !important;
    }
  }
  .right .filtre-body .block .title {
    font-size: 11px !important;
  }
  .right .filtre-body .block span {
    font-size: 9px !important;
  }
  .full .home-section_products .product-full_right .title span {
    font-size: 12px !important;
  }
  .full .home-section_products .product-full_right .adress span {
    font-size: 10px !important;
  }
  .full .home-section_products .product-full_right .city span {
    font-size: 9px !important;
  }

  // PREWIEW PAGE ============================================================================
  .like-products {
    .product:nth-child(4) {
      display: none;
    }
  }
  .prewiew-left .content .left .big-image img {
    width: 325px !important;
  }
  .prewiew-left .content .left .mini-img img {
    margin-left: 15px !important;
  }
  .prewiew-left .content .right-about_header .zag {
    font-size: 16px !important;
    line-height: 20px !important;
  }
  .prewiew-left .content .right-about_header .image img {
    width: 120px !important;
  }
  .prewiew-left .content .right {
    margin-left: 0 !important;
  }
  .prewiew-left .content .right-about_body .block .name {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  .prewiew-left .content .right-about_body .block span {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  .prewiew-left .content .right-about_body .text span {
    font-size: 12px !important;
  }
  .prewiew-left .aboutt-header .left span {
    text-align: center !important;
  }

  // PROFILE PAGE ===================================================================================

  .profile-right_block_body .buttons button {
    min-width: 155px !important;
    flex: 0 !important;
    font-size: 12px !important;
    margin-right: 0 !important;
  }

  // REPLENISHMENT PAGE =============================================================================

  .replenishment-body_left .body-wrap-card {
    padding: 10px !important;
  }
  .replenishment-body_left .body-wrap-card #paysystem {
    margin-left: 30px !important;
  }

  // MESSAGE PAGE ====================================================================================

  .chat-right {
    margin-left: 20px;
    & .mess-product_right {
      padding: 10px !important;
      & .about-title {
        font-size: 12px !important;
      }
      & .about-price {
        font-size: 12px !important;
      }
      & span {
        font-size: 10px !important;
      }
    }
  }
}

@media (max-width: 992px) {
  .nav-header_left_search {
    display: none !important;
  }
  .nav-header_right .small-search_button {
    display: inline !important;
    margin-right: 20px !important;
  }
  .nav-header_right_add {
    position: fixed !important;
    bottom: 20px !important;
    left: 50% !important;
    transform: translateX(-50%);
    z-index: 100 !important;
    & button {
      box-shadow: 0px 0px 88px rgba(0, 0, 0, 0.47) !important;
    }
  }
  // .nav-header_right_language {
  //     display: none !important;
  // }
  .nav-header_right_profile button {
    width: 40px !important;
  }
  .nav-header_right_profile button img {
    display: inline !important;
  }
  .nav-header_right_profile button span {
    display: none !important;
  }
  .slick-next {
    right: 45px !important;
  }
  .slick-prev {
    left: 45px !important;
  }
  .home-section {
    justify-content: flex-start !important;
    flex-direction: column !important;
    &_reclam {
      flex-direction: row !important;
      margin-bottom: 20px !important;
      & .cart {
        // max-width: 197px !important;
        height: 187px !important;
        & .content {
          flex-direction: column !important;
          justify-content: flex-start !important;
        }
      }
      & .reclam-img {
        display: flex !important;
        justify-content: space-between !important;
        & img {
          margin-left: 50px !important;
          margin-top: 0 !important;
          width: 197px !important;
          height: 187px !important;
        }
      }
      & .reclam-img #img {
        display: none !important;
      }
    }
    &_products {
      margin-left: 0 !important;
    }
  }
  .footer-wrapp {
    flex-direction: column !important;
    &_links {
      flex-direction: row !important;
      justify-content: space-between !important;
      & .social {
        margin-bottom: 20px !important;
      }
    }
  }

  // SEARCH PAGE ============================================================================

  .right .home-section_form {
    margin-left: 0 !important;
    justify-content: center !important;
    width: 100% !important;
  }
  .right .filtre {
    margin-left: 0 !important;
    width: 100% !important;
  }
  .pagination {
    justify-content: center !important;
  }

  // ADD- PRODUCT PAGE ============================================================================

  .add-product .address-body .form .blog-wrapp .blog {
    width: 305px !important;
  }
  .add-product .contacts-body .form .blog-wrapp .blog {
    width: 305px !important;
  }
  .add-product .publication .photo-body {
    padding: 10px !important;
  }
  .add-product .photo-body img {
    width: 130px !important;
    height: 105px !important;
  }

  // PREWIEW PAGE ============================================================================
  .prewiew {
    flex-direction: column !important;
    & .content {
      flex-direction: column !important;
      & .left {
        max-width: 100% !important;
        & .big-image img {
          width: 100% !important;
        }
        & .mini-img img {
          margin-left: 5px !important;
        }
      }
    }
    .aboutt-header .left {
      flex: 4 !important;
    }
    .aboutt-header .right-content {
      flex: 8 !important;
    }
    &-right {
      display: none !important;
    }
    & .tablet {
      display: flex !important;
      justify-content: space-between !important;
    }
  }

  //USER PAGE =========================================================

  .user {
    width: 100% !important;
  }
  .button {
    display: none !important;
  }
  .user-reclam-img {
    display: none !important;
  }

  //PROFILE PAGE ===============================================================

  .profile-right_block_body .buttons button:last-child {
    margin-top: 20px !important;
  }
  .sidebar {
    width: 230px !important;
  }
  .profile-right_block_body .sort-date_wrap .sp-sort {
    display: none !important;
  }
  .profile-right_block_body .profile-product_wrap .right-about {
    margin-top: 5px !important;
  }
  .profile-right_block_body .sort-button button {
    width: 120px !important;
  }
  .enter-registration_body .wrap .enter-registration_body_location {
    flex: 8 !important;
  }
  .enter-registration_body
    .wrap
    .enter-registration_body_contacts
    .content
    .block:last-child {
    display: none;
  }
  .enter-registration_body .wrap .empty2 {
    flex: 0 !important;
  }

  // ENTERING PAGE ==================================================================

  .enter {
    padding: 0 20px;
    &-modal {
      height: 330px !important;
    }
    &-registration {
      width: 480px !important;
      height: 730px !important;
      &_body_data .content {
        flex-direction: column !important;
        & .photo {
          justify-content: center !important;
        }
      }
      &_body_contacts .save button {
        width: 100% !important;
      }
    }
  }

  // REPLENISHMENT PAGE ============================================================================

  .replenishment-body {
    flex-direction: column;
    &_left {
      margin-left: 0 !important;
      margin-top: 20px;
    }
  }
  .replenishment-body_left .body-wrap-card #paysystem {
    margin-left: 90px !important;
  }

  // RECLAM PAGE =================================================================================

  .reclam-body_block_title span {
    font-size: 16px !important;
  }
  .reclam-body_block_descr span {
    font-size: 12px !important;
  }
  .reclam-body_block_price span {
    font-size: 30px !important;
  }

  // MESSAGE PAGE ====================================================================================

  .chat-right_header .mess-product {
    height: 70px !important;
    &_left {
      width: 140px !important;
      & .img-right {
        right: -18px !important;
        & img {
          height: 50px !important;
        }
      }
      & .img-bottom {
        bottom: 5px !important;
        right: 5px !important;
      }
    }
    &_right {
      & .about {
        &-title {
          font-size: 10px !important;
          font-weight: normal !important;
          line-height: 18px !important;
        }
        &-price {
          display: none;
        }
        &:nth-child(2) {
          display: none !important;
        }
        &:nth-child(3) {
          display: none !important;
        }
        &:last-child {
          display: flex !important;
        }
      }
    }
  }
  .chat-right_body .messages .wrap .empty {
    flex: 2 !important;
  }
  .chat-right_body .messages .wrapp .empty {
    flex: 2 !important;
  }
}

@media (max-width: 768px) {
  .home-reclamSlider {
    display: none !important;
  }
  .home-tablet_slider {
    display: inline !important;
  }
  .slick-next {
    right: 15px !important;
  }
  .slick-prev {
    left: 15px !important;
  }
  .home-section_reclam .cart {
    // max-width: 197px !important;
    height: 185px !important;
  }
  .home-section_reclam .reclam-img img {
    margin-left: 50px !important;
    width: 197px !important;
    height: 185px !important;
  }
  .footer-wrapp_content_block .title {
    font-size: 16px !important;
  }
  .footer-wrapp_content_block p {
    font-size: 8px !important;
    margin-top: 10px !important;
  }
  .footer-wrapp_content_block .call-number {
    font-size: 12px !important;
  }

  // SEARCH PAGE ============================================================================

  .right .home-section_form .form {
    width: 150px !important;
  }
  .right .home-section_form .form .price input {
    width: 64px !important;
    &::placeholder {
      padding-left: 5px !important;
    }
  }
  .right .home-section_form .form button {
    font-size: 9px !important;
  }
  .right .filtre-body .block .title {
    font-size: 9px !important;
  }
  .right .filtre-body .block span {
    font-size: 8px !important;
  }
  .full .home-section_products .product-full_right .title span {
    font-size: 9px !important;
  }
  .full .home-section_products .product-full_right .adress span {
    font-size: 8px !important;
  }
  .full .home-section_products .product-full_right .city span {
    font-size: 7px !important;
  }

  // ADD- PRODUCT PAGE ============================================================================

  .add-product .address-body .form .blog-wrapp .blog {
    width: 225px !important;
  }
  .add-product .contacts-body .form .blog-wrapp .blog {
    width: 225px !important;
  }

  // PREWIEW PAGE ==========================================================================

  .prewiew-left .aboutt-body .fasad-body {
    flex-wrap: wrap !important;
  }

  // PROFILE PAGE =============================================================================

  .profile-right_block_body .buttons button {
    min-width: 100% !important;
    margin-top: 20px !important;
    &:first-child {
      margin-top: 0 !important;
    }
  }
  .profile-wrap {
    flex-direction: column !important;
    & .profile-left {
      margin-right: 0 !important;
      & .sidebar {
        width: 100% !important;
        &-body {
          & .menu {
            display: flex;
            &-button {
              border-radius: 0 !important;
              display: flex;
              justify-content: center;
              &:first-child {
                border-radius: 10px 0 0 10px !important;
              }
              &:last-child {
                border-radius: 0 10px 10px 0 !important;
              }
              & span {
                display: none !important;
              }
            }
          }
        }
      }
    }
  }

  // REPLENISHMENT PAGE ====================================================================

  .replenishment-body_left .body-wrap-card #paysystem {
    margin-left: 50px !important;
  }

  // RECLAM PAGE =================================================================================
  .reclam-body {
    flex-direction: column;
    &_block {
      display: none !important;
    }
    & .mobile-block {
      display: flex !important;
    }
  }

  // MESSAGE PAGE ====================================================================================

  .chat {
    flex-direction: column !important;
    &-right {
      margin-left: 0 !important;
    }
    &-left {
      & .sidebar {
        width: 100% !important;
        &-body {
          & .menu {
            display: flex;
            &-button {
              display: flex;
              justify-content: center;
            }
            & span {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 567px) {
  .home-section_reclam .reclam-img img {
    margin-left: 5px !important;
    width: 145px !important;
  }
  .footer-wrapp_content_block .title {
    font-size: 13px !important;
  }
  .footer-wrapp_content_block .call-number {
    font-size: 8px !important;
  }
  .footer-wrapp_links .apps {
    flex: 0 !important;
    & img {
      margin-left: 15px !important;
    }
  }

  // SEARCH PAGE ============================================================================

  .right .home-section_form .form .price input {
    width: 50px !important;
    &::placeholder {
      font-size: 9px !important;
    }
  }
  .right .home-section_form .form .icons-control {
    justify-content: center !important;
  }
  .right .home-section_form .form .icons-control .title {
    display: none !important;
  }
  .right .filtre-body .block .title {
    font-size: 7px !important;
  }
  .right .filtre-body .block span {
    font-size: 6px !important;
  }
  .home-section_products .product-body .about {
    margin-top: 20px !important;
  }

  // ADD- PRODUCT PAGE ============================================================================

  .add-product .address-body .form .blog-wrapp .blog {
    width: 190px !important;
  }
  .add-product .contacts-body .form .blog-wrapp .blog {
    width: 190px !important;
  }

  // ENTERING PAGE ==================================================================================

  .enter-registration {
    width: 340px !important;
    height: 890px !important;
  }
  .enter-registration_body_contacts .content {
    flex-direction: column !important;
  }

  // REPLENISHMENT PAGE ====================================================================

  .replenishment-header .repl {
    display: none;
  }
  .replenishment-body_left .body-wrap {
    flex-direction: column;
    &-card {
      margin-left: 0 !important;
      margin-top: 20px;
    }
    & #paysystem {
      margin-left: 140px !important;
    }
  }
}

@media (max-width: 480px) {
  .home-tablet_slider {
    display: none !important;
  }
  .home-mobile_slider {
    display: inline !important;
  }
  .home-slider {
    display: none !important;
  }
  .home-slider_mobile {
    display: inline !important;
  }
  .home-section_reclam .reclam-img {
    display: none !important;
  }
  .home-section {
    margin-top: 20px !important;
  }
  .home-section_reclam {
    justify-content: center !important;
  }
  .home-section_reclam .cart {
    // max-width: 320px !important;
    width: 330px !important;
    height: 70px !important;
    & .content {
      flex-direction: row !important;
      justify-content: space-between !important;
    }
  }
  .home-section_products {
    justify-content: center !important;
  }
  .home-section_products .product {
    display: flex !important;
    width: 100% !important;
    // flex: 1;
    &-header {
      max-width: 100px !important;
      height: 70px !important;
      border-radius: 10px 0 0 10px !important;
      & img {
        width: 50px !important;
        height: 50px !important;
      }
      & .img-right {
        top: -14px !important;
        // right: -1px !important;
      }
      & .img-bottom {
        bottom: 5px !important;
        right: 5px !important;
        & img {
          width: 16px !important;
          height: 16px !important;
        }
      }
    }
    &-body {
      width: 100% !important;
      height: 70px !important;
      border-radius: 0 10px 10px 0 !important;
      padding: 0 10px !important;
      & .title {
        margin: 0 !important;
        max-width: 100% !important;
      }
      & .about {
        margin: 0 !important;
        max-width: 100% !important;
      }
    }
  }
  .home-section_products .big-img {
    display: none !important;
  }
  .footer-wrapp_content {
    flex-direction: column !important;
    text-align: center !important;
  }
  .footer-wrapp_content_block .title {
    font-size: 18px !important;
  }
  .footer-wrapp_content_block p {
    font-size: 14px !important;
  }
  .footer-wrapp_content_block .call-number {
    font-size: 24px !important;
  }
  .footer-wrapp_content_block {
    margin-right: 0 !important;
  }
  .footer-wrapp_links {
    flex-direction: column !important;
    text-align: center !important;
  }
  .footer-wrapp_links .social {
    justify-content: center !important;
  }
  .footer-wrapp_links .apps {
    max-width: 320px !important;
    margin-bottom: 20px !important;
  }
  .end_right p {
    display: none !important;
  }

  // SEARCH PAGE ============================================================================

  .right .home-section_form {
    & .form {
      display: none !important;
    }
    & .form-mobile {
      display: inline !important;
    }
  }
  .right .filtre-body {
    flex-direction: column !important;
    text-align: center !important;
    & .block .title {
      font-size: 14px !important;
    }
    & .block span {
      font-size: 12px !important;
    }
  }
  .extended-filter {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    z-index: 100;
    width: 100% !important;
    border-radius: 0 !important;
    height: 100% !important;
  }

  // ADD- PRODUCT PAGE ============================================================================
  .add-product {
    .publication-header {
      span {
        display: none !important;
      }
    }
    .publication-body {
      .form {
        flex-direction: column !important;
        margin-bottom: 0 !important;
        & .blog {
          width: 280px !important;
          margin-bottom: 20px !important;
          &-wrapp {
            max-width: 100% !important;
          }
        }
        & .info {
          width: 280px !important;
          margin-bottom: 20px !important;
        }
        & #info1 {
          height: 170px !important;
        }
        & .map-wrapp .map-button button {
          display: none !important;
        }
      }
      .fasad-body {
        flex-direction: column !important;
      }
    }
    .photo-body img {
      width: 90px !important;
      height: 70px !important;
    }
    .buttons {
      justify-content: center !important;
    }
  }

  // PREWIEW PAGE ==========================================================================

  .prewiew-left .title-1 span:last-child {
    display: none !important;
  }
  .price-mobile {
    display: flex !important;
  }
  .prewiew .tablet {
    flex-direction: column;
  }
  .prewiew-left .content .right-about_body .block .line {
    display: none !important;
  }
  .prewiew-left .aboutt-body .fasad-body .column {
    width: 100%;
  }
  .prewiew-left .content .right-about_header .image img {
    display: none !important;
  }
  .prewiew-left .content .right-about_header .image .mob-img {
    display: flex !important;
  }
  .prewiew .aboutt-header .left {
    flex: 8 !important;
  }
  .prewiew .aboutt-header .right-content {
    flex: 4 !important;
  }
  .prewiew .tablet .buttons {
    margin-top: 20px !important;
  }

  .replenishment-body_left .body-wrap-card #paysystem {
    margin-left: 70px !important;
  }

  //RECLAM PAGE ============================================================================

  .reclam-header .rec-title {
    display: none !important;
  }
  .reclam-body .mobile-block {
    margin-left: 0 !important;
  }
  .reclam-buttons {
    justify-content: center !important;
  }
  .reclam-header .title-wrapp {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .full .home-section_products .product-full {
    display: none !important;
  }

  // MESSAGE PAGE ====================================================================================

  .chat-right_header .mess-product_right .about-title {
    line-height: 16px !important;
  }
  .chat-right_header .mess-product_right .about:last-child {
    margin-top: 5px !important;
  }
  .chat-right_body .messages .wrapp .empty {
    flex: 0 !important;
    max-width: 240px !important;
  }
  .chat-right_body .messages .wrap .empty {
    flex: 0 !important;
  }

  .pagination-buttons .arrows {
    width: 30px !important;
    img {
      margin-right: 0 !important;
    }
    span {
      display: none;
    }
    &:last-child {
      & img {
        margin-left: 0 !important;
      }
    }
  }
  .sidebar-body .menu-button {
    position: relative;
    & .notif {
      width: 10px !important;
      height: 10px !important;
      position: absolute;
      background: #ffffff !important;
      top: 20px;
      right: 21px;
      & .notific {
        color: #ff7800 !important;
        font-size: 7px !important;
      }
    }
    & .router-link-active {
      & .notif {
        display: none !important;
      }
    }
  }

  // PROFILE PAGE =================================================================================================

  .enter-registration_body .wrap .empty {
    flex: 0 !important;
  }
  .enter-registration_body
    .wrap
    .enter-registration_body_contacts
    .content
    .block {
    width: 100%;
  }
}
