.vs--searchable .vs__dropdown-toggle {
    width: 236px;
    max-width: 100%;
    height: 40px;
    background-color: #fff;
    border: none;
    border-radius: 0;
    position: relative;
    display: flex;
    justify-content: center;
    &::before {
        position: absolute;
        content: url(/images/pin.svg);;
        top: 11px;
        left: 12px;
    }
}

.vs__search, .vs__search:focus {
    margin: 5px 37px 0;
}

.vs__search::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #999999;
}

.vs__actions {
    padding: 4px 15px 0 3px;
    cursor: pointer;
    &::after {
            position: absolute;
            content: url(/images/Mask1.svg);
            width: 16px;
            height: 16px;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
        }
    & svg {
        display: none;
        position: relative;
        
    }

    & button {
        display: none;
    }
}

.vs--single .vs__selected {
    margin-left: 50px;
}