.slick-dots li.slick-active button:before {
    color: #ffffff;
    background-color: white;
    background: white;
    display: none;
}

.slick-dots li button:before {
    top: -53px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 1);
    opacity: none;
    background-color: rgba(255, 255, 255, 1);
    display: none;
}

.slick-dots li {
    margin: 0 5px;
    width: 15px;
    height: 15px;
}

.slick-dots {
    bottom: 25px;
}

.slick-dots li button {
    color: rgb(255, 255, 255) !important;
    background: rgba(255, 255, 255, 0.5) !important;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    &:hover {
        color: white !important;
        background-color: white !important;
    }
}

.slick-active {
    color: white;
    background-color: white;
    border-radius: 50%;
}
.slick-arrow{
    top: 50%;
    transform: translateY(-50%);
    height: 90px;
}
.slick-prev {
    left: 20px;
    z-index: 1;
    &:before {
        content: url(/images/Arrow-prev.svg);
        width: 50px;
        height: 86px;
        // transform: rotate(180deg);
    }
}

.slick-next {
    right: 20px;
    &:before {
        width: 50px;
        height: 86px;
        content: url(/images/Arrow.svg);
        right: 0;
    }
}