.footer {
    background: #5A5A5A;
        &-wrapp {
            display: flex;
            justify-content: space-between;
            flex: 12;
            &_content {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            margin-bottom: 10px;
            flex: 9;
            &_block {
                margin-right: 60px;
                &:nth-child(5) {
                    margin-right: 0;
                }
                & .title {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 24px;
                    color: #FFFFFF;
                    margin-bottom: 24px;
                }
                & p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: #FFFFFF;
                }
                & .call-number {
                    margin-top: 30px;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 24px;
                    color: #FFFFFF;
                    margin-bottom: 24px;
                }
            }
        }
        &_links {
            display: flex;
            flex-direction: column;
            flex: 3;
            & .social{
                margin-top: 30px;
                display: flex;
                justify-content: flex-start;
                & img {
                    margin-left: 20px;
                    &:nth-child(1) {
                        margin-left: 0;
                    }
                }
            }
            & .apps {
                max-width: 265px;
                margin-top: 30px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
.end {
display: flex;
justify-content: space-between;
align-items: center;
height: 50px;
    &_left {
        display: flex;
        align-items: center;
        span {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #333333;
        }
    }
    &_right {
        display: flex;
        align-items: center;
        p {
            margin-top: 20px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #333333;
        }
        & img {
            margin-left: 15px;
        }
    }
}