@media (min-width: 1820px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 1360px;
  }
}

.nav {
  background-color: #5a5a5a;
  width: 100%;
  height: 70px;
  &-header {
    padding-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    &_left {
      display: flex;
      &_logo {
        margin-right: 20px;
      }
      &_search {
        margin-right: 20px;
        display: flex;
        & .search {
          & #search {
            padding: 15px;
            border-radius: 10px 0 0 10px;
            height: 40px;
            width: 330px;
            max-width: 100%;
            border: none;
            &::placeholder {
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 28px;
              color: #999999;
            }
          }
        }
        & .region {
          border-left: 1px solid #aeaeae;
          z-index: 9;
          position: relative;
          &-select {
            width: 270px;
            height: 40px;
            background: #ffffff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px;
            cursor: pointer;
            & span {
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 22px;
              color: #999999;
            }
            & .icon {
            }
            & .active {
              transform: rotate(-180deg);
            }
          }
          & .regions {
            position: absolute;
            top: 50px;
            width: 270px;
            background: #ffffff;
            box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
            border-radius: 10px;
            padding: 20px;
            &-title {
              display: flex;
              justify-content: space-between;
              & span {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                color: #333333;
              }
              & .icon {
                cursor: pointer;
              }
            }
            & .reg {
              cursor: pointer;
              margin-top: 10px;
              display: flex;
              justify-content: space-between;
              & span {
                cursor: pointer;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                color: #999999;
              }
              & .icon {
                cursor: pointer;
                & img:last-child {
                  display: none;
                }
              }
              &:hover {
                & span {
                  color: #ff7800;
                }
                & .icon {
                  & img:first-child {
                    display: none;
                  }
                  & img:last-child {
                    display: inline;
                  }
                }
              }
            }
          }
          &-city {
            padding: 20px;
            position: absolute;
            top: 50px;
            left: 280px;
            width: 270px;
            background: #ffffff;
            box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
            border-radius: 10px;
            &_title {
              display: flex;
              justify-content: space-between;
              & span {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                color: #333333;
              }
              & .icon {
                cursor: pointer;
              }
            }
            &_tash {
              cursor: pointer;
              margin-top: 10px;
              display: flex;
              justify-content: space-between;
              & span {
                cursor: pointer;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                color: #999999;
              }
              & .icon {
                cursor: pointer;
                & img:last-child {
                  display: none;
                }
              }
              &:hover {
                & span {
                  color: #ff7800;
                }
                & .icon {
                  & img:first-child {
                    display: none;
                  }
                  & img:last-child {
                    display: inline;
                  }
                }
              }
            }
          }
        }
        & button {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #ff7800;
          height: 40px;
          width: 40px;
          max-width: 100%;
          border: none;
          border-radius: 0 10px 10px 0;
        }
      }
    }
    &_right {
      display: flex;
      justify-content: space-between;
      & .small-search_button {
        display: none;
        & button {
          display: flex;
          align-items: center;
          justify-content: center;
          background: #ff7800;
          height: 40px;
          width: 40px;
          border: none;
          border-radius: 10px;
        }
      }
      &_add {
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        & button {
          display: flex;
          align-items: center;
          justify-content: space-around;
          background: #ff7800;
          border-radius: 10px;
          height: 40px;
          width: 210px;
          max-width: 100%;
          border: none;
          & span {
            // margin-right: 15px;
            display: flex;
            align-items: center;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: #ffffff;
          }
        }
      }
      &_language {
        margin-right: 20px;
        position: relative;
        z-index: 9;
        & .lang {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          background: #999999;
          border-radius: 10px;
          border: none;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          color: #ffffff;
        }
        & .language {
          height: 120px;
          border-radius: 10px;
          background: #aeaeae;
          box-shadow: 0px 5px 40px rgba(45, 48, 58, 0.15);
          position: absolute;
          top: 0;
          & .lang1 {
            border-radius: 10px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background: #aeaeae;
            border: none;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: #ffffff;
            z-index: 10;
            &:first-child {
              border-radius: 10px 10px 0 0;
            }
            &:nth-child(2) {
              border-radius: 0;
            }
            &:last-child {
              border-radius: 0 0 10px 10px;
            }
            &:hover {
              background: #ff7800;
            }
          }
        }
      }
      & .active {
        border-radius: 10px;
      }
      &_profile {
        & button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 108px;
          height: 40px;
          background: #2dba49;
          border-radius: 10px;
          border: none;
          & img {
            display: none;
          }
          & span {
            display: flex;
            justify-content: center;
            align-items: center;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: #ffffff;
          }
        }
      }
    }
  }
}
