.pagination {
  padding: 0 20px;
  margin: 10px 0 50px 0;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
  border-radius: 10px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &-buttons {
    display: flex;
    & .dots {
      margin-top: 7px;
      margin-left: 20px;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: #999999;
    }
    & .arrows {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ff7800;
      border-radius: 10px;
      width: 100px;
      height: 30px;
      border: none;
      & img {
        margin-right: 10px;
      }
      & span {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #ffffff;
      }
      &:last-child {
        margin-left: 20px;
        & img {
          margin-right: 0;
          margin-left: 10px;
        }
      }
    }
    & .numbers {
      margin-left: 20px;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: #999999;
      &:nth-child(4) {
        color: #333333;
        font-size: 16px;
      }
    }
  }
}
