.sidebar {
  margin-top: 30px;
  width: 265px;
  &-header {
    background: #5a5a5a;
    border-radius: 10px;
    padding: 20px;
    & .about {
      display: flex;
      justify-content: space-between;
      &-left {
        & .left-title {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          color: #ffffff;
        }
        & .left-price {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 18px;
          color: #ffffff;
        }
      }
      &-right {
        & a {
          width: 100px;
          height: 40px;
          background: #ff7800;
          box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          color: #ffffff;
        }
      }
    }
    & .setting {
      margin-top: 20px;
      & a {
        width: 100%;
        height: 40px;
        background: #999999;
        box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #ffffff;
      }
      & .router-link-active {
        background: #ff7800;
      }
    }
  }
  &-body {
    margin-top: 20px;
    background: #5a5a5a;
    border-radius: 10px;
    & .menu {
      &-button {
        width: 100%;
        height: 65px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & span {
          margin-left: 15px;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          color: #ffffff;
        }
        & .notif {
          width: 20px;
          height: 20px;
          border-radius: 10px;
          background: #ff7800;
          display: flex;
          justify-content: center;
          align-items: center;
          & .notific {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #ffffff;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      & .router-link-active {
        background: #ff7800;
        &:first-child {
          border-radius: 10px 10px 0 0;
        }
        &:last-child {
          border-radius: 0 0 10px 10px;
        }
        & .notif {
          background: #5a5a5a;
        }
      }
    }
  }
}
