<template>
  <div class="add-product container">
    <div class="title">
      <span>Добавление объявления</span>
    </div>
    <div class="publication">
      <div class="publication-header">
        <div class="publication-header_title">Раздел публикации</div>
      </div>
      <div class="publication-body">
        <form class="form">
          <div class="blog-wrapp">
            <label>Рубрика:</label>
            <div class="blog">
              <span>Выберите категорию</span>
              <div class="icon">
                <img src="../assets/images/dropdown2.svg" alt />
              </div>
            </div>
          </div>
          <div class="blog-wrapp">
            <label>Владение:</label>
            <div class="blog">
              <span>Выберите тип владеиня</span>
              <div class="icon">
                <img src="../assets/images/dropdown2.svg" alt />
              </div>
            </div>
          </div>
        </form>
        <form class="form">
          <div class="blog-wrapp">
            <label>Цель объявление:</label>
            <div class="blog">
              <span>Выберите цель</span>
              <div class="icon">
                <img src="../assets/images/dropdown2.svg" alt />
              </div>
            </div>
          </div>
        </form>
        <form class="form">
          <div class="blog-full">
            <label>Заголовок:</label>
            <input type="text" placeholder="Напишите краткое заглавление" />
          </div>
        </form>
      </div>
    </div>
    <div class="publication">
      <div class="publication-header">
        <div class="publication-header_title">Детали Объявления</div>
      </div>
      <div class="publication-body">
        <form class="form">
          <div class="blog-wrapp">
            <label>Этаж:</label>
            <div class="blog">
              <span>Выберите этаж</span>
              <div class="icon">
                <img src="../assets/images/dropdown2.svg" alt />
              </div>
            </div>
          </div>
          <div class="blog-wrapp">
            <label>Этажей в доме:</label>
            <div class="blog">
              <span>Выберите этаж</span>
              <div class="icon">
                <img src="../assets/images/dropdown2.svg" alt />
              </div>
            </div>
          </div>
        </form>
        <form class="form">
          <div class="blog-wrapp">
            <label>Тип дома:</label>
            <div class="blog">
              <span>Выберите тип</span>
              <div class="icon">
                <img src="../assets/images/dropdown2.svg" alt />
              </div>
            </div>
          </div>
          <div class="blog-wrapp">
            <label>Количество комнат:</label>
            <div class="blog">
              <span>Выберите количество</span>
              <div class="icon">
                <img src="../assets/images/dropdown2.svg" alt />
              </div>
            </div>
          </div>
        </form>
        <form class="form">
          <div class="blog-wrapp">
            <label>Общая площадь:</label>
            <div class="blog">
              <span>Ввдите данные</span>
              <div class="icon">
                <span class="m">м²</span>
              </div>
            </div>
          </div>
          <div class="blog-wrapp">
            <label>Площадь кухни:</label>
            <div class="blog">
              <span>Ввдите данные</span>
              <div class="icon">
                <span class="m">м²</span>
              </div>
            </div>
          </div>
        </form>
        <form class="form">
          <div class="blog-wrapp">
            <label>Жилая площадь:</label>
            <div class="blog">
              <span>Ввдите данные</span>
              <div class="icon">
                <span class="m">м²</span>
              </div>
            </div>
          </div>
        </form>
        <form class="form">
          <div class="blog-full">
            <label>Описание:</label>
            <textarea placeholder="Напишите подробное описание"></textarea>
          </div>
        </form>
      </div>
    </div>
    <div class="publication">
      <div class="publication-header">
        <div class="publication-header_title">Подробная иформация</div>
        <span>Подробная иформация может привлечь арендаторов</span>
      </div>
      <div class="publication-body">
        <div class="fasad">
          <div class="fasad-header">
            <span>Фасад</span>
            <div class="icon" @click="checkboxes1 = !checkboxes1" :class="{ rotate: checkboxes1 }">
              <img src="../assets/images/dropdown2.svg" alt />
            </div>
          </div>
          <div class="fasad-body" v-if="checkboxes1">
            <div class="block">
              <input type="checkbox" id="check1" name="check" />
              <label for="check1">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check2" name="check" />
              <label for="check2">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check3" name="check" />
              <label for="check3">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check4" name="check" />
              <label for="check4">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check5" name="check" />
              <label for="check5">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check6" name="check" />
              <label for="check6">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check7" name="check" />
              <label for="check7">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check8" name="check" />
              <label for="check8">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check9" name="check" />
              <label for="check9">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check1" name="check" />
              <label for="check1">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check2" name="check" />
              <label for="check2">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check3" name="check" />
              <label for="check3">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check4" name="check" />
              <label for="check4">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check5" name="check" />
              <label for="check5">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check6" name="check" />
              <label for="check6">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check7" name="check" />
              <label for="check7">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check8" name="check" />
              <label for="check8">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check9" name="check" />
              <label for="check9">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check8" name="check" />
              <label for="check8">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check9" name="check" />
              <label for="check9">Сигнализация (Пожар)</label>
            </div>
          </div>
        </div>
        <div class="fasad">
          <div class="fasad-header">
            <span>Фасад</span>
            <div class="icon" @click="checkboxes2 = !checkboxes2" :class="{ rotate: checkboxes2 }">
              <img src="../assets/images/dropdown2.svg" alt />
            </div>
          </div>
          <div class="fasad-body" v-if="checkboxes2">
            <div class="block">
              <input type="checkbox" id="check1" name="check" />
              <label for="check1">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check2" name="check" />
              <label for="check2">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check3" name="check" />
              <label for="check3">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check4" name="check" />
              <label for="check4">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check5" name="check" />
              <label for="check5">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check6" name="check" />
              <label for="check6">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check7" name="check" />
              <label for="check7">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check8" name="check" />
              <label for="check8">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check9" name="check" />
              <label for="check9">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check1" name="check" />
              <label for="check1">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check2" name="check" />
              <label for="check2">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check3" name="check" />
              <label for="check3">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check4" name="check" />
              <label for="check4">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check5" name="check" />
              <label for="check5">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check6" name="check" />
              <label for="check6">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check7" name="check" />
              <label for="check7">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check8" name="check" />
              <label for="check8">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check9" name="check" />
              <label for="check9">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check8" name="check" />
              <label for="check8">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check9" name="check" />
              <label for="check9">Сигнализация (Пожар)</label>
            </div>
          </div>
        </div>
        <div class="fasad">
          <div class="fasad-header">
            <span>Фасад</span>
            <div class="icon" @click="checkboxes3 = !checkboxes3" :class="{ rotate: checkboxes3 }">
              <img src="../assets/images/dropdown2.svg" alt />
            </div>
          </div>
          <div class="fasad-body" v-if="checkboxes3">
            <div class="block">
              <input type="checkbox" id="check1" name="check" />
              <label for="check1">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check2" name="check" />
              <label for="check2">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check3" name="check" />
              <label for="check3">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check4" name="check" />
              <label for="check4">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check5" name="check" />
              <label for="check5">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check6" name="check" />
              <label for="check6">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check7" name="check" />
              <label for="check7">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check8" name="check" />
              <label for="check8">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check9" name="check" />
              <label for="check9">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check1" name="check" />
              <label for="check1">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check2" name="check" />
              <label for="check2">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check3" name="check" />
              <label for="check3">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check4" name="check" />
              <label for="check4">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check5" name="check" />
              <label for="check5">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check6" name="check" />
              <label for="check6">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check7" name="check" />
              <label for="check7">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check8" name="check" />
              <label for="check8">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check9" name="check" />
              <label for="check9">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check8" name="check" />
              <label for="check8">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check9" name="check" />
              <label for="check9">Сигнализация (Пожар)</label>
            </div>
          </div>
        </div>
        <div class="fasad">
          <div class="fasad-header">
            <span>Фасад</span>
            <div class="icon" @click="checkboxes4 = !checkboxes4" :class="{ rotate: checkboxes4 }">
              <img src="../assets/images/dropdown2.svg" alt />
            </div>
          </div>
          <div class="fasad-body" v-if="checkboxes4">
            <div class="block">
              <input type="checkbox" id="check1" name="check" />
              <label for="check1">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check2" name="check" />
              <label for="check2">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check3" name="check" />
              <label for="check3">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check4" name="check" />
              <label for="check4">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check5" name="check" />
              <label for="check5">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check6" name="check" />
              <label for="check6">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check7" name="check" />
              <label for="check7">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check8" name="check" />
              <label for="check8">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check9" name="check" />
              <label for="check9">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check1" name="check" />
              <label for="check1">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check2" name="check" />
              <label for="check2">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check3" name="check" />
              <label for="check3">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check4" name="check" />
              <label for="check4">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check5" name="check" />
              <label for="check5">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check6" name="check" />
              <label for="check6">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check7" name="check" />
              <label for="check7">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check8" name="check" />
              <label for="check8">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check9" name="check" />
              <label for="check9">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check8" name="check" />
              <label for="check8">Сигнализация (Пожар)</label>
            </div>
            <div class="block">
              <input type="checkbox" id="check9" name="check" />
              <label for="check9">Сигнализация (Пожар)</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="publication">
      <div class="publication-header">
        <div class="publication-header_title">Адрес</div>
        <span>Точный адрес поможет привлечь заинтересованных арендаторов</span>
      </div>
      <div class="publication-body">
        <form class="form">
          <div class="blog-wrapp">
            <label>Город:</label>
            <div class="blog">
              <span>Выберите город</span>
              <div class="icon">
                <img src="../assets/images/dropdown2.svg" alt />
              </div>
            </div>
          </div>
        </form>
        <form class="form">
          <div class="blog-full">
            <label>Подробности адреса:</label>
            <input type="text" placeholder="Напишите подробности" />
          </div>
        </form>
        <!-- <div class="cart-img">
          <img src="../assets/images/cart.png" alt />
        </div>-->
      </div>
    </div>
    <div class="publication">
      <div class="publication-header">
        <div class="publication-header_title">Фото</div>
      </div>
      <div class="photo-body">
        <img src="../assets/images/photo1.png" alt />
        <img src="../assets/images/photo1.png" alt />
        <img src="../assets/images/photo1.png" alt />
        <img src="../assets/images/photo1.png" alt />
        <img src="../assets/images/photo1.png" alt />
        <img src="../assets/images/photo2.png" alt />
        <img src="../assets/images/photo3.png" alt />
        <img src="../assets/images/photo3.png" alt />
        <img src="../assets/images/photo3.png" alt />
        <img src="../assets/images/photo3.png" alt />
        <img src="../assets/images/photo3.png" alt />
        <img src="../assets/images/photo3.png" alt />
        <img src="../assets/images/photo3.png" alt />
        <img src="../assets/images/photo3.png" alt />
        <img src="../assets/images/photo3.png" alt />
      </div>
    </div>
    <div class="publication">
      <div class="publication-header">
        <div class="publication-header_title">Контакты</div>
      </div>
      <div class="publication-body">
        <form class="form">
          <div class="blog-wrapp">
            <label>Электронная почта:</label>
            <input type="text" placeholder="mail@example.com" />
          </div>
          <div class="blog-wrapp">
            <label>Номер телефона:</label>
            <input type="text" placeholder="+998 ** *** ** **" />
          </div>
        </form>
      </div>
    </div>
    <div class="buttons">
      <button>Предосмотр</button>
      <button class="color">Опубликовать</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      checkboxes1: false,
      checkboxes2: false,
      checkboxes3: false,
      checkboxes4: false
    };
  }
};
</script>