<template>
  <div class="cart">
    <div class="cart-left">
      <div class="cart-left_filter">
        <div class="extended-filter_header">
          <div class="title">Расширенный фильтр</div>
        </div>
        <div class="extended-filter_body">
          <div class="input-wrap">
            <span>Регион:</span>
            <div class="extended-select" @click="extSelect = !extSelect">
              <div class="title">Весь Узбекистан</div>
              <div class="icon" :class="{ active: extSelect === true }">
                <img src="../assets/images/dropdown2.svg" alt />
              </div>
            </div>
            <div class="regions" v-if="extSelect">
              <div class="regions-title">
                <span>Все регионы</span>
                <div class="icon">
                  <img src="../assets/images/drop-right-dark.svg" alt />
                </div>
              </div>
              <div class="reg" v-for="(region, index) in regions" :key="index">
                <span>{{ region.name }}</span>
                <div class="icon">
                  <img src="../assets/images/drop-right.svg" alt />
                  <img src="../assets/images/drop-right-hover.svg" alt />
                </div>
              </div>
            </div>
          </div>
          <div class="choices">
            <div
              class="choice"
              :class="{ active: !face }"
              @click="face = false"
            >
              <span>Частные лица</span>
            </div>
            <div class="choice" :class="{ active: face }" @click="face = true">
              <span>Юридические лица</span>
            </div>
          </div>
          <div class="choices">
            <div
              class="choice"
              :class="{ active: choice === 1 }"
              @click="choice = 1"
            >
              <span>Все</span>
            </div>
            <div
              class="choice"
              :class="{ active: choice === 2 }"
              @click="choice = 2"
            >
              <span>Вторичка</span>
            </div>
            <div
              class="choice"
              :class="{ active: choice === 3 }"
              @click="choice = 3"
            >
              <span>Новстройка</span>
            </div>
          </div>
          <div class="choices">
            <div class="choice" :class="{ active: buy === 1 }" @click="buy = 1">
              <span>Все</span>
            </div>
            <div class="choice" :class="{ active: buy === 2 }" @click="buy = 2">
              <span>Купить</span>
            </div>
            <div class="choice" :class="{ active: buy === 3 }" @click="buy = 3">
              <span>Снять</span>
            </div>
          </div>
          <div class="input-wrap">
            <span>Этаж:</span>
            <input type="text" placeholder="Все" />
          </div>
          <div class="input-wrap">
            <span>Количество комнат:</span>
            <input type="text" placeholder="Все" />
          </div>
          <div class="input-wrap">
            <span>Количество комнат:</span>
            <input type="text" placeholder="Все" />
          </div>
          <div class="input-wrapp">
            <span>Жилая площадь:</span>
            <div class="inputs">
              <input type="text" placeholder="От" />
              <input type="text" placeholder="До" />
            </div>
          </div>
          <div class="input-wrapp">
            <span>Стоимость:</span>
            <div class="inputs">
              <input type="text" placeholder="От" />
              <input type="text" placeholder="До" />
            </div>
          </div>
          <div class="buttons">
            <button>Очистить</button>
            <button>Применить</button>
          </div>
        </div>
      </div>
    </div>
    <div class="cart-center">
      <div
        class="google-map"
        style="width:100%;height:100%;"
        ref="googleMap"
      ></div>
      <!-- <template v-if="Boolean(this.google) && Boolean(this.map)">
        <slot :google="google" :map="map" />
      </template> -->
    </div>
    <div class="cart-right">
      <div class="cart-right_wrap">
        <div class="title">Список объявлений</div>
        <div class="date">
          <span>По дате</span>
          <img src="../assets/images/dropdown2.svg" alt />
        </div>
        <products :products="products" />
        <pagination />
      </div>
    </div>
  </div>
</template>

<script>
import products from "@/components/Products.vue";
import pagination from "@/components/Pagination.vue";
import GoogleMapsApiLoader from "google-maps-api-loader";

export default {
  components: { products, pagination },
  data() {
    return {
      google: null,
      map: null,
      face: false,
      choice: 1,
      buy: 1,
      select: false,
      tashkentShow: false,
      extSelect: false,
      regions: [
        {
          name: "Город Ташкент",
          id: 0,
        },
        {
          name: "Андижанская область",
          id: 1,
        },
        {
          name: "Бухарская область",
          id: 2,
        },
        {
          name: "Джизакская область",
          id: 3,
        },
        {
          name: "Кашкадарьинская область",
          id: 4,
        },
        {
          name: "Навоийская область",
          id: 5,
        },
        {
          name: "Наманганская область",
          id: 6,
        },
        {
          name: "Самаркандская область",
          id: 7,
        },
        {
          name: "Сурхандарьинская область",
          id: 8,
        },
        {
          name: "Ташкентская область",
          id: 9,
        },
        {
          name: "Ферганская область",
          id: 10,
        },
        {
          name: "Хорезмская область",
          id: 11,
        },
        {
          name: "Республика Каракалпакстан",
          id: 12,
        },
      ],
      products: [
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
      ],
    };
  },
  async mounted() {
    const googleMapApi = await GoogleMapsApiLoader({
      apiKey: null,
    });

    this.google = googleMapApi;
    this.initializeMap();
  },

  methods: {
    initializeMap() {
      const mapContainer = this.$refs.googleMap;
      this.map = new this.google.maps.Map(mapContainer, {
        center: { lat: 41.311081, lng: 69.240562 },
        zoom: 12,
        animation: google.maps.Animation.BOUNCE,
      });
      new google.maps.Marker({
        position: { lat: 41.311081, lng: 69.240562 },
        label: { text: "Кеды новые замше...", color: "white" },
        // icon: icons[features[i].type].icon,
        map: this.map,
      });
    },
  },
};
</script>
