<template>
    <div class="enter">
        <div class="enter-modal">
            <div class="enter-modal_logo">
                <img src="../assets/images/logo1.svg" alt="">
            </div>
            <input type="text" placeholder="Номер телефона">
            <div class="enter-modal_text">
                <span> Войдя в аккаунт вы соглашаетесь с </span> <br>
                <router-link to="#"> условиями использования приложения </router-link>
            </div>
            <div class="enter-modal_button">
                <button>Войти в аккаунт</button>
            </div>
        </div>
    </div>
</template>