<template>
    <div class="enter">
        <div class="enter-modal">
            <div class="enter-modal_logo">
                <img src="../assets/images/logo1.svg" alt="">
            </div>
            <div class="enter-modal_code">
                <input type="text" placeholder="Введите отправленный код" id="code">
                <div class="number">60</div>
            </div>
            <div class="enter-modal_text">
                <span>СМС на +998 ** *** ** 66</span> <br>
                <router-link to="#">Отправить заного</router-link>
            </div>
            <div class="enter-modal_button">
                <button>Войти в аккаунт</button>
            </div>
        </div>
    </div>
</template>