<template>
    <div class="enter">
        <div class="enter-modal">
            <div class="enter-modal_logo">
                <img src="../assets/images/logo1.svg" alt="">
            </div>
            <div class="enter-modal_type">Выберите тип аккаунта</div>
            <div class="enter-modal_click">
                <div class="plain">Простой</div>
                <div class="buisness">Бизнес</div>
            </div>
            <div class="enter-modal_btn">
                <button>Продолжить</button>
            </div>
        </div>
    </div>
</template>