<template>
  <div class="profile">
    <div class="container">
      <div class="profile-wrap">
        <div class="profile-left">
          <UserSideBar />
        </div>
        <div class="profile-right_block">
          <div class="profile-right_block_header">
            <div class="title">Избранные</div>
          </div>
          <div class="profile-right_block_body">
            <div class="sort">
              <div class="sort-date">
                <div class="sort-date_wrap">
                  <span class="sp-sort">Сортировака:</span>
                  <button>
                    <span>По дате</span>
                    <img src="../assets/images/dropdown2.svg" alt />
                  </button>
                </div>
              </div>
            </div>
            <div class="wrap">
              <favorite @remove="removeProduct" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UserSideBar from "@/components/UserSideBar";
import favorite from "@/components/Favorite";
export default {
  components: { UserSideBar, favorite },
  data() {
    return {};
  },
  methods: {
    removeProduct: function(index) {
      this.$emit("remove", index);
    }
  }
};
</script>