<template>
  <div class="home">
    <div class="home-reclamSlider">
      <VueSlickCarousel :arrows="true" :dots="false">
        <img src="../assets/images/Frame60.png" alt />
        <img src="../assets/images/Frame60.png" alt />
        <img src="../assets/images/Frame60.png" alt />
      </VueSlickCarousel>
    </div>
    <div class="home-tablet_slider">
      <VueSlickCarousel :arrows="true" v-bind="settingsHome" :dots="false">
        <img src="../assets/images/tablet-slider.png" alt />
        <img src="../assets/images/tablet-slider.png" alt />
        <img src="../assets/images/tablet-slider.png" alt />
      </VueSlickCarousel>
    </div>
    <div class="home-mobile_slider">
      <VueSlickCarousel :arrows="true" v-bind="settingsHome" :dots="true">
        <img src="../assets/images/mobile-slider.png" alt />
        <img src="../assets/images/mobile-slider.png" alt />
        <img src="../assets/images/mobile-slider.png" alt />
        <img src="../assets/images/mobile-slider.png" alt />
      </VueSlickCarousel>
    </div>
    <div class="home-slider">
      <VueSlickCarousel :arrows="false" :dots="false" v-bind="settings">
        <div
          class="home-slider_category"
          v-for="(cat, index) in category"
          :key="index"
        >
          <div class="home-slider_category_block">
            <div class="home-slider_category_block_left">
              <div class="title">{{ cat.title }}</div>
              <div class="descr">{{ cat.descr }}</div>
            </div>
            <div class="home-slider_category_block_right">
              <div class="image">
                <img
                  width="180"
                  height="185"
                  src="../assets/images/Rectangle57.png"
                />
              </div>
            </div>
          </div>
          <div class="home-slider_category_bottom">
            <div class="number">{{ cat.number }}</div>
          </div>
          <div class="home-slider_category_background">
            <img src="../assets/images/Vector2.svg" />
          </div>
        </div>
      </VueSlickCarousel>
    </div>
    <div class="home-slider_mobile">
      <VueSlickCarousel :arrows="false" :dots="false" v-bind="settings">
        <div class="slider-block">
          <img src="../assets/images/blue.png" alt />
          <span>Хобби, отдых</span>
        </div>
        <div class="slider-block">
          <img src="../assets/images/red.png" alt />
          <span>Личные вещи</span>
        </div>
        <div class="slider-block">
          <img src="../assets/images/pink.png" alt />
          <span>Бытовая электроника</span>
        </div>
        <div class="slider-block">
          <img src="../assets/images/green.png" alt />
          <span>Недвижимость</span>
        </div>
        <div class="slider-block">
          <img src="../assets/images/blue.png" alt />
          <span>Хобби, отдых</span>
        </div>
        <div class="slider-block">
          <img src="../assets/images/red.png" alt />
          <span>Личные вещи</span>
        </div>
        <div class="slider-block">
          <img src="../assets/images/pink.png" alt />
          <span>Бытовая электроника</span>
        </div>
        <div class="slider-block">
          <img src="../assets/images/green.png" alt />
          <span>Недвижимость</span>
        </div>
      </VueSlickCarousel>
    </div>
    <div class="home-section container">
      <div class="home-section_reclam">
        <router-link to="/cart">
          <div class="cart">
            <div class="content">
              <div class="image">
                <img src="../assets/images/cart-img.svg" alt />
              </div>
              <div class="text">
                <p>ПОСМОТРЕТЬ НА КАРТЕ</p>
              </div>
            </div>
          </div>
        </router-link>
        <div class="reclam-img">
          <router-link to="#">
            <img src="../assets/images/001.png" alt />
          </router-link>
          <router-link to="#">
            <img src="../assets/images/002.png" alt />
          </router-link>
          <router-link to="#">
            <img id="img" src="../assets/images/001.png" alt />
          </router-link>
        </div>
      </div>
      <div class="home-section_products">
        <products :products="products" />
        <div class="big-img container">
          <img src="../assets/images/big-img.png" alt />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueSlickCarousel from "vue-slick-carousel";
import "vue-slick-carousel/dist/vue-slick-carousel.css";
import "vue-slick-carousel/dist/vue-slick-carousel-theme.css";

import products from "@/components/Products.vue";

export default {
  name: "Home",
  components: { VueSlickCarousel, products },
  data() {
    return {
      settingsHome: {
        slidesToShow: 1,
        slidesToScroll: 1,
        fade: true,
      },
      settings: {
        // slidesToShow: 6,
        slidesToScroll: 1,
        variableWidth: true,
        swipeToSlide: true,
        responsive: [
          {
            breakpoint: 1600,
            settings: {
              // slidesToShow: 5,
            },
          },
          {
            breakpoint: 1200,
            settings: {
              // slidesToShow: 3
            },
          },
          {
            breakpoint: 992,
            settings: {
              // slidesToShow: 2,
            },
          },
          {
            breakpoint: 768,
            settings: {
              // slidesToShow: 2
            },
          },
          {
            breakpoint: 576,
            settings: {
              // slidesToShow: 4
            },
          },
        ],
      },
      category: [
        {
          title: "Хобби, отдых и спорт",
          descr: "Значимость этих проблем  настолько очевидна, что",
          number: "12 366 623объявлений",
          image: "../../assets/images/Rectangle57.png",
        },
        {
          title: "Хобби, отдых и спорт",
          descr: "Значимость этих проблем  настолько очевидна, что",
          number: "12 366 623объявлений",
          image: "../../assets/images/Rectangle57.png",
        },
        {
          title: "Хобби, отдых и спорт",
          descr: "Значимость этих проблем  настолько очевидна, что",
          number: "12 366 623объявлений",
          image: "../../assets/images/Rectangle57.png",
        },
        {
          title: "Хобби, отдых и спорт",
          descr: "Значимость этих проблем  настолько очевидна, что",
          number: "12 366 623объявлений",
          image: "../../assets/images/Rectangle57.png",
        },
        {
          title: "Хобби, отдых и спорт",
          descr: "Значимость этих проблем  настолько очевидна, что",
          number: "12 366 623объявлений",
          image: "./../assets/images/Rectangle57.png",
        },
        {
          title: "Хобби, отдых и спорт",
          descr: "Значимость этих проблем  настолько очевидна, что",
          number: "12 366 623объявлений",
          image: "./../assets/images/Rectangle57.png",
        },
        {
          title: "Хобби, отдых и спорт",
          descr: "Значимость этих проблем  настолько очевидна, что",
          number: "12 366 623объявлений",
          image: "./../assets/images/Rectangle57.png",
        },
        {
          title: "Хобби, отдых и спорт",
          descr: "Значимость этих проблем  настолько очевидна, что",
          number: "12 366 623объявлений",
          image: "./../assets/images/Rectangle57.png",
        },
      ],
      products: [
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS",
        },
      ],
    };
  },
};
</script>
