<template>
  <div class="container">
    <div class="chat">
      <div class="chat-left">
        <UserSideBar />
      </div>
      <div class="chat-right">
        <div class="chat-right_header">
          <!-- <div class="home-section_products" :class="{ full:!grid }">
            <products :products="products" :class="{ full:!grid }" />
          </div>-->
          <div class="mess-product">
            <div class="mess-product_left">
              <div class="img-right">
                <img src="../assets/images/top-right.svg" />
              </div>
              <div class="img-bottom">
                <img src="../assets/images/orange.svg" alt />
              </div>
            </div>
            <div class="mess-product_right">
              <div class="about">
                <div class="about-title">Текст название продукта которая будет изображеа</div>
                <div class="about-price">100 000 000 UZS</div>
              </div>
              <div class="about">
                <span>Объявления Ташкент >> Личные вещи >> Обувь</span>
                <span>Опубликовал: Артур Максимов</span>
              </div>
              <div class="about">
                <span>Ташкент, Ташкентская область, Юнусабадский район</span>
                <span>Добавлено в 21:42, 9 апреля 2020</span>
              </div>
              <div class="about">
                <span>Ташкент</span>
                <span class="price">100 000 000 UZS</span>
              </div>
            </div>
          </div>
        </div>
        <div class="chat-right_body">
          <div class="date-wrap">
            <div class="date">
              <span>{{ date }}</span>
            </div>
          </div>
          <div class="messages">
            <div class="wrap" v-for="(enter, index) in entering" :key="'enter' + index">
              <div class="entering-message">
                <div class="text">
                  <span>{{ enter.message }}</span>
                </div>
                <div class="time">
                  <span>{{ enter.time }}</span>
                </div>
              </div>
              <div class="empty"></div>
            </div>
            <div class="wrapp" v-for="(message, index) in messages" :key="index">
              <div class="empty"></div>
              <div class="outgoing-message">
                <div class="text">
                  <span>{{ message.message }}</span>
                </div>
                <div class="time">
                  <span>{{ message.time }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="send-input">
          <input
            type="text"
            placeholder="Напишите письмо..."
            v-model="send.message"
            v-on:keyup.13="sendMessage"
          />
          <button @click="sendMessage">
            <img src="../assets/images/send-button.svg" alt />
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UserSideBar from "@/components/UserSideBar";
import products from "@/components/Products.vue";
export default {
  components: { UserSideBar, products },
  data() {
    return {
      date: "2 апреля 2020",
      settings: 4,
      grid: false,
      send: {
        message: "",
        time: "03:30"
      },
      entering: [
        {
          message: "Текст название продукта котора",
          time: "03:30"
        }
      ],
      messages: [
        {
          message: "Текст название продукта котора",
          time: "03:30"
        }
      ],
      products: [
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        }
      ]
    };
  },
  methods: {
    sendMessage: function() {
      let { message, time } = this.send;
      if (message === "" || message.length < 3) {
        return false;
      }
      this.messages.push({
        message
      });
      this.send.message = "";
    }
  }
};
</script>