<template>
  <div class="prewiew container">
    <div class="prewiew-left">
      <div class="title-1">
        <span>1-к квартира, 45 м², 5/5 эт.</span>
        <div class="price">
          <span>120 000 000 UZS</span>
        </div>
      </div>
      <div class="price-mobile">
        <span>Цена:</span>
        <span>120 000 000 UZS</span>
      </div>
      <div class="content">
        <div class="left">
          <div class="big-image">
            <img src="../assets/images/prewiew-img.png" alt />
          </div>
          <div class="mini-img">
            <img src="../assets/images/mini-img.png" alt />
            <img src="../assets/images/mini-img.png" alt />
            <img src="../assets/images/mini-img.png" alt />
            <img src="../assets/images/mini-img.png" alt />
            <img src="../assets/images/mini-img.png" alt />
            <img src="../assets/images/mini-img.png" alt />
            <img src="../assets/images/mini-img.png" alt />
            <img src="../assets/images/mini-img.png" alt />
            <img src="../assets/images/mini-img.png" alt />
            <img src="../assets/images/mini-img.png" alt />
          </div>
        </div>
        <div class="right">
          <div class="right-about">
            <div class="right-about_header">
              <div class="zag">Детали Объявления</div>
              <div class="image">
                <img src="../assets/images/izb.svg" alt />
                <div class="mob-img">
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M6.28568 2.55777C6.28568 3.26279 6.03057 3.87491 5.52578 4.38318C5.021 4.89145 4.41851 5.14286 3.71289 5.14286C2.98828 5.14286 2.38037 4.89692 1.88372 4.39684C1.38708 3.89677 1.14282 3.28738 1.14282 2.55503C1.14282 1.82541 1.38708 1.21603 1.88372 0.729619C2.38037 0.245939 2.98828 0 3.71289 0C4.41308 0 5.021 0.245939 5.52578 0.746015C6.036 1.24882 6.28568 1.85274 6.28568 2.55777Z"
                      fill="white"
                    />
                    <path
                      d="M16 7.95749C16 10.1509 15.2063 12.0553 13.6359 13.6366C12.0654 15.2179 10.191 16 7.99577 16C5.74142 16 3.85014 15.2349 2.30502 13.6791C0.759899 12.1233 0 10.2274 0 7.94899C0 5.67906 0.759899 3.78321 2.30502 2.26993C3.85014 0.765143 5.74142 0 7.99577 0C10.1741 0 12.0654 0.765144 13.6359 2.32094C15.2232 3.88523 16 5.76408 16 7.95749Z"
                      fill="white"
                    />
                    <path
                      d="M4.57146 10.4165C4.57146 10.7067 4.49385 10.95 4.33406 11.1409C4.17428 11.3318 3.9734 11.4286 3.72688 11.4286C3.4735 11.4286 3.26349 11.3318 3.10142 11.1409C2.93936 10.95 2.85718 10.7067 2.85718 10.4165V5.5992C2.85718 5.30891 2.93936 5.06569 3.10142 4.86693C3.26349 4.6734 3.4735 4.57141 3.72688 4.57141C3.9734 4.57141 4.17656 4.67341 4.33406 4.87478C4.49385 5.07615 4.57146 5.31675 4.57146 5.5992V10.4165Z"
                      fill="#999999"
                    />
                    <path
                      d="M13.1398 10.4358C13.1398 10.7205 13.0341 10.9591 12.8315 11.1464C12.6259 11.3336 12.3646 11.4286 12.0445 11.4286C11.7126 11.4286 11.4454 11.3336 11.2398 11.1464C11.0343 10.9591 10.9315 10.7205 10.9315 10.4358V7.38302C10.9315 7.04952 10.8228 6.76734 10.6055 6.54415C10.3882 6.32097 10.0975 6.21066 9.73624 6.21066C9.35447 6.21066 9.04906 6.32097 8.82587 6.54415C8.60268 6.76734 8.49109 7.04439 8.49109 7.38302V10.4358C8.49109 10.7205 8.39124 10.9591 8.18567 11.1464C7.98011 11.3336 7.71874 11.4286 7.38983 11.4286C7.07267 11.4286 6.81131 11.3336 6.59987 11.1464C6.39136 10.9591 6.28564 10.7205 6.28564 10.4358V5.71042C6.28564 5.43336 6.3943 5.19735 6.60868 4.99982C6.82306 4.80229 7.08148 4.70224 7.38983 4.70224C7.94487 4.70224 8.31195 4.90747 8.49402 5.32562C8.91103 4.82025 9.57472 4.57141 10.4792 4.57141C11.3984 4.57141 12.1061 4.83051 12.6171 5.34101C12.9666 5.70529 13.1428 6.21066 13.1428 6.85456V10.4358H13.1398Z"
                      fill="#999999"
                    />
                    <path
                      d="M5.14276 2.55963C5.14337 2.95592 5.00103 3.29171 4.72209 3.57337C4.44316 3.85504 4.1037 3.99938 3.71639 3.99997C3.31322 4.00059 2.97333 3.86368 2.69989 3.58606C2.42644 3.30843 2.28624 2.96669 2.28562 2.564C2.285 2.16132 2.42099 1.82234 2.69677 1.55027C2.97254 1.27819 3.30884 1.14345 3.71202 1.14283C4.10567 1.14223 4.43921 1.27914 4.719 1.55676C4.99878 1.82798 5.14216 2.16333 5.14276 2.55963Z"
                      fill="#999999"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div class="right-about_body">
              <div class="block">
                <div class="name">Идентификатор:</div>
                <div class="line"></div>
                <span>№ 1902523148</span>
              </div>
              <div class="block">
                <div class="name">Дата и время добавления:</div>
                <div class="line"></div>
                <span>3.12.2020 в 22:00</span>
              </div>
              <div class="block">
                <div class="name">Владение:</div>
                <div class="line"></div>
                <span>Вторичка</span>
              </div>
              <div class="block">
                <div class="name">Цель объявление:</div>
                <div class="line"></div>
                <span>Сдам</span>
              </div>
              <div class="block">
                <div class="name">Этаж:</div>
                <div class="line"></div>
                <span>5 этаж</span>
              </div>
              <div class="block">
                <div class="name">Этажей в доме:</div>
                <div class="line"></div>
                <span>5 этажей</span>
              </div>
              <div class="block">
                <div class="name">Тип дома:</div>
                <div class="line"></div>
                <span>Кирпичный</span>
              </div>
              <div class="block">
                <div class="name">Количество комнат:</div>
                <div class="line"></div>
                <span>1-комнатная</span>
              </div>
              <div class="block">
                <div class="name">Общая площадь:</div>
                <div class="line"></div>
                <span>45 м²</span>
              </div>
              <div class="block">
                <div class="name">Площадь кухни:</div>
                <div class="line"></div>
                <span>12 м²</span>
              </div>
              <div class="block">
                <div class="name">Жилая площадь:</div>
                <div class="line"></div>
                <span>29 м²</span>
              </div>
              <div class="text">
                <span>Сдаётся 1 комнатная квартира на 5 этаже 5 этажного дома, район апельсина, гостиницы Крепость, рядом с мечетью, чистая аккуратная, не обходимая мебель, техника, кондиционер имеется. Лифта нет. Агенство</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="aboutt">
        <div class="aboutt-header">
          <div class="left">
            <span>Подробная иформация</span>
          </div>
          <div class="right-content">
            <span>На карте</span>
            <div class="icon">
              <img src="../assets/images/dropdown3-white.svg" alt />
            </div>
          </div>
        </div>
        <div class="aboutt-body">
          <div class="fasad">
            <div class="fasad-header">
              <span>Фасад</span>
              <div class="icon">
                <img src="../assets/images/dropdown.svg" alt />
              </div>
            </div>
            <div class="fasad-body">
              <div class="column">
                <div class="block">
                  <div class="text">
                    <div class="title1">АДСЛ</div>
                    <div class="subtitle">Сигнализация (Пожар)</div>
                  </div>
                  <div class="ok">
                    <img src="../assets/images/ok.svg" alt />
                  </div>
                </div>
                <div class="block">
                  <div class="text">
                    <div class="title1">АДСЛ</div>
                    <div class="subtitle">Сигнализация (Пожар)</div>
                  </div>
                  <div class="ok">
                    <img src="../assets/images/ok.svg" alt />
                  </div>
                </div>
                <div class="block">
                  <div class="text">
                    <div class="title1">АДСЛ</div>
                    <div class="subtitle">Сигнализация (Пожар)</div>
                  </div>
                  <div class="ok">
                    <img src="../assets/images/ok.svg" alt />
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="block">
                  <div class="text">
                    <div class="title1">АДСЛ</div>
                    <div class="subtitle">Сигнализация (Пожар)</div>
                  </div>
                  <div class="ok">
                    <img src="../assets/images/ok.svg" alt />
                  </div>
                </div>
                <div class="block">
                  <div class="text">
                    <div class="title1">АДСЛ</div>
                    <div class="subtitle">Сигнализация (Пожар)</div>
                  </div>
                  <div class="ok">
                    <img src="../assets/images/ok.svg" alt />
                  </div>
                </div>
                <div class="block">
                  <div class="text">
                    <div class="title1">АДСЛ</div>
                    <div class="subtitle">Сигнализация (Пожар)</div>
                  </div>
                  <div class="ok">
                    <img src="../assets/images/ok.svg" alt />
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="block">
                  <div class="text">
                    <div class="title1">АДСЛ</div>
                    <div class="subtitle">Сигнализация (Пожар)</div>
                  </div>
                  <div class="ok">
                    <img src="../assets/images/ok.svg" alt />
                  </div>
                </div>
                <div class="block">
                  <div class="text">
                    <div class="title1">АДСЛ</div>
                    <div class="subtitle">Сигнализация (Пожар)</div>
                  </div>
                  <div class="ok">
                    <img src="../assets/images/ok.svg" alt />
                  </div>
                </div>
                <div class="block">
                  <div class="text">
                    <div class="title1">АДСЛ</div>
                    <div class="subtitle">Сигнализация (Пожар)</div>
                  </div>
                  <div class="ok">
                    <img src="../assets/images/ok.svg" alt />
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="block">
                  <div class="text">
                    <div class="title1">АДСЛ</div>
                    <div class="subtitle">Сигнализация (Пожар)</div>
                  </div>
                  <div class="ok">
                    <img src="../assets/images/ok.svg" alt />
                  </div>
                </div>
                <div class="block">
                  <div class="text">
                    <div class="title1">АДСЛ</div>
                    <div class="subtitle">Сигнализация (Пожар)</div>
                  </div>
                  <div class="ok">
                    <img src="../assets/images/ok.svg" alt />
                  </div>
                </div>
                <div class="block">
                  <div class="text">
                    <div class="title1">АДСЛ</div>
                    <div class="subtitle">Сигнализация (Пожар)</div>
                  </div>
                  <div class="ok">
                    <img src="../assets/images/ok.svg" alt />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="fasad">
            <div class="fasad-header">
              <span>Фасад</span>
              <div class="icon">
                <img src="../assets/images/dropdown2.svg" alt />
              </div>
            </div>
          </div>
          <div class="fasad">
            <div class="fasad-header">
              <span>Фасад</span>
              <div class="icon">
                <img src="../assets/images/dropdown2.svg" alt />
              </div>
            </div>
          </div>
          <div class="fasad">
            <div class="fasad-header">
              <span>Фасад</span>
              <div class="icon">
                <img src="../assets/images/dropdown2.svg" alt />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tablet">
        <div class="user-tablet">
          <div class="user-tablet_header">
            <div class="user-tablet_header_title">Контактное лицо</div>
          </div>
          <div class="user-tablet_body">
            <div class="person">
              <div class="person-img">
                <img src="../assets/images/person.svg" alt />
              </div>
              <div class="person-name">Алена Петренко</div>
            </div>
            <div class="info">
              <div class="block">
                <div class="title">В системе Topin:</div>
                <span>c 01.12.2020</span>
              </div>
              <div class="block">
                <div class="title">Кол-во объявлений:</div>
                <span>272</span>
              </div>
              <div class="block">
                <div class="title">Тип аккаунта:</div>
                <span>Частный</span>
              </div>
            </div>
          </div>
        </div>
        <div class="buttons">
          <button class="call">
            <img src="../assets/images/call.svg" alt />
            <span>Позвонить</span>
          </button>
          <button class="write">
            <img src="../assets/images/message.svg" alt />
            <span>Написать</span>
          </button>
          <router-link to="/user">
            <button class="write">
              <span>Посмотреть профиль</span>
            </button>
          </router-link>
          <button>Пожаловаться</button>
        </div>
      </div>

      <div class="copy">
        <span>ПОХОЖИЕ ОБЪЯВЛЕНИЕ</span>
      </div>
      <div class="copy-products">
        <div class="home-section_products like-products">
          <products :products="products" />
        </div>
      </div>
    </div>
    <div class="prewiew-right">
      <div class="user">
        <div class="user-header">
          <div class="user-header_title">Контактное лицо</div>
        </div>
        <div class="user-body">
          <div class="person">
            <div class="person-img">
              <img src="../assets/images/person.svg" alt />
            </div>
            <div class="person-name">Алена Петренко</div>
          </div>
          <div class="info">
            <div class="block">
              <div class="title">В системе Topin:</div>
              <span>c 01.12.2020</span>
            </div>
            <div class="block">
              <div class="title">Кол-во объявлений:</div>
              <span>272</span>
            </div>
            <div class="block">
              <div class="title">Тип аккаунта:</div>
              <span>Частный</span>
            </div>
          </div>
        </div>
      </div>
      <div class="button">
        <button class="call">
          <img src="../assets/images/call.svg" alt />
          <span>Позвонить</span>
        </button>
        <button class="write">
          <img src="../assets/images/message.svg" alt />
          <span>Написать</span>
        </button>
        <router-link to="/user">
          <button class="write">
            <span>Посмотреть профиль</span>
          </button>
        </router-link>
        <button>Пожаловаться</button>
      </div>
      <div class="reclam-image">
        <router-link to="#">
          <img src="../assets/images/001.png" alt />
        </router-link>
        <router-link to="#">
          <img src="../assets/images/002.png" alt id="img" />
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import products from "@/components/Products.vue";
export default {
  components: { products },
  data() {
    return {
      responsive: [],
      products: [
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        }
      ]
    };
  }
};
</script>