<template>
  <div class="reclam container">
    <div class="reclam-header">
      <span class="rec-title">Реклама</span>
      <div class="title-wrapp">
        <span>Ваш баланс:{{' '}}</span>
        <span>1000 000 000 UZS</span>
      </div>
    </div>
    <div class="reclam-body">
      <div
        class="reclam-body_block"
        v-for="(reclam, index) in reclams"
        :key="index"
        @click="setChosen(index)"
        :class="{ active: chosen === index }"
      >
        <div class="reclam-body_block_img">
          <img src="../assets/images/big-orange.svg" id="grey" alt />
          <img src="../assets/images/big-orange2.svg" id="orange" alt />
        </div>
        <div class="reclam-body_block_title">
          <span>{{ reclam.title }}</span>
        </div>
        <div class="reclam-body_block_descr">
          <span>{{ reclam.descr }}</span>
          <span>{{ reclam.descr2 }}</span>
        </div>
        <div class="reclam-body_block_price">
          <span>{{ reclam.price }}</span>
        </div>
        <div class="reclam-body_block_imgBottom">
          <img src="../assets/images/img-bottom.svg" alt />
        </div>
      </div>
      <div
        class="mobile-block"
        v-for="(reclam, index) in reclams"
        :key=" 'mobile' + index"
        @click="setChosen(index)"
        :class="{ active: chosen === index }"
      >
        <div class="mobile-block_content">
          <div class="mobile-block_content_img">
            <img src="../assets/images/big-orange.svg" id="grey" alt />
            <img src="../assets/images/big-orange2.svg" id="orange" alt />
          </div>
          <div class="mobile-block_content_text">
            <div class="mobile-block_content_text_title">
              <span>{{ reclam.title }}</span>
            </div>
            <div class="mobile-block_content_text_descr">
              <span>{{ reclam.descr }}</span>
              <span>{{ reclam.descr2 }}</span>
            </div>
          </div>
        </div>
        <div class="mobile-block_content_price">
          <span>{{ reclam.price }}</span>
        </div>
      </div>
    </div>
    <div class="reclam-buttons">
      <button>Пропустить</button>
      <button :disabled="chosen < 0" :class="{ chosen: chosen < 0 === false }">Выбрать</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      chosen: -1,
      reclams: [
        {
          title: "ОДНОРАЗОВАЯ РЕКЛАМА",
          descr: "Ваша публикация поднимиться в первые ряды объявлений.",
          descr2: "Так у вас есть вероятность найти клиента быстрее!",
          price: "7 000 UZS"
        },
        {
          title: "ОДНОРАЗОВАЯ РЕКЛАМА",
          descr: "Ваша публикация поднимиться в первые ряды объявлений.",
          descr2: "Так у вас есть вероятность найти клиента быстрее!",
          price: "7 000 UZS"
        },
        {
          title: "ОДНОРАЗОВАЯ РЕКЛАМА",
          descr: "Ваша публикация поднимиться в первые ряды объявлений.",
          descr2: "Так у вас есть вероятность найти клиента быстрее!",
          price: "7 000 UZS"
        }
      ]
    };
  },
  methods: {
    setChosen: function(value) {
      const setValue = this.chosen == value ? -1 : value;
      this.chosen = setValue;
    }
  }
};
</script>