<template>
  <div class="replenishment container">
    <div class="replenishment-header">
      <span class="repl">Пополнение баланса</span>
      <span>Ваш баланс: 1000 000 000 UZS</span>
    </div>
    <div class="replenishment-body">
      <div class="replenishment-body_left">
        <div class="header">
          <span>Выберите сумму пополнения</span>
        </div>
        <div class="body">
          <div class="body-wrap">
            <div class="body-wrap-card">
              <div class="img">
                <img src="../assets/images/coins1.svg" alt />
              </div>
              <div class="price">10 000 UZS</div>
            </div>
            <div class="body-wrap-card">
              <div class="img">
                <img src="../assets/images/coins1.svg" alt />
              </div>
              <div class="price">10 000 UZS</div>
            </div>
          </div>
          <div class="body-wrap">
            <div class="body-wrap-card">
              <div class="img">
                <img src="../assets/images/coins1.svg" alt />
              </div>
              <div class="price">10 000 UZS</div>
            </div>
            <div class="body-wrap-card">
              <div class="img">
                <img src="../assets/images/coins1.svg" alt />
              </div>
              <div class="price">10 000 UZS</div>
            </div>
          </div>
          <div class="body-wrap">
            <div class="body-wrap-card">
              <div class="img">
                <img src="../assets/images/coins1.svg" alt />
              </div>
              <div class="price">10 000 UZS</div>
            </div>
            <div class="body-wrap-card">
              <div class="img">
                <img src="../assets/images/coins1.svg" alt />
              </div>
              <div class="price">10 000 UZS</div>
            </div>
          </div>
          <div class="body-wrap">
            <div class="body-wrap-card">
              <div class="img">
                <img src="../assets/images/coins1.svg" alt />
              </div>
              <div class="price">10 000 UZS</div>
            </div>
            <div class="body-wrap-card">
              <div class="img">
                <img src="../assets/images/coins1.svg" alt />
              </div>
              <div class="price">10 000 UZS</div>
            </div>
          </div>
          <div class="body-wrap">
            <div class="body-wrap-card">
              <div class="img">
                <img src="../assets/images/coins1.svg" alt />
              </div>
              <div class="price">10 000 UZS</div>
            </div>
            <div class="body-wrap-card">
              <div class="img">
                <img src="../assets/images/coins1.svg" alt />
              </div>
              <div class="price">10 000 UZS</div>
            </div>
          </div>
        </div>
      </div>
      <div class="replenishment-body_left">
        <div class="header">
          <span>Выберите сумму пополнения</span>
        </div>
        <div class="body">
          <div class="body-wrap">
            <div class="body-wrap-card">
              <img id="paysystem" src="../assets/images/payme.png" alt />
            </div>
            <div class="body-wrap-card">
              <img id="paysystem" src="../assets/images/click.png" alt />
            </div>
          </div>
          <div class="body-wrap">
            <div class="body-wrap-card">
              <img id="paysystem" src="../assets/images/upay.png" alt />
            </div>
            <div class="body-wrap-card">
              <img id="paysystem" src="../assets/images/humo.png" alt />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="replenishment-buttons">
      <button>Предосмотр</button>
      <button>Опубликовать</button>
    </div>
  </div>
</template>