<template>
  <div class="search-page">
    <div class="extended-filter" v-if="extended">
      <div class="extended-filter_header">
        <div class="title">Расширенный фильтр</div>
        <div class="close" @click="hideModal">
          <img src="../assets/images/close.svg" alt />
        </div>
      </div>
      <div class="extended-filter_body">
        <div class="input-wrap">
          <span>Регион:</span>
          <div class="extended-select" @click="extSelect = !extSelect">
            <div class="title">Весь Узбекистан</div>
            <div class="icon" :class="{ active: extSelect === true }">
              <img src="../assets/images/dropdown2.svg" alt />
            </div>
          </div>
          <div class="regions" v-if="extSelect">
            <div class="regions-title">
              <span>Все регионы</span>
              <div class="icon">
                <img src="../assets/images/drop-right-dark.svg" alt />
              </div>
            </div>
            <div class="reg" v-for="(region, index) in regions" :key="index">
              <span>{{ region.name }}</span>
              <div class="icon">
                <img src="../assets/images/drop-right.svg" alt />
                <img src="../assets/images/drop-right-hover.svg" alt />
              </div>
            </div>
          </div>
        </div>
        <div class="choices">
          <div class="choice" :class="{ active: !face }" @click="face = false">
            <span>Частные лица</span>
          </div>
          <div class="choice" :class="{ active: face }" @click="face = true">
            <span>Юридические лица</span>
          </div>
        </div>
        <div class="choices">
          <div class="choice" :class="{ active: choice === 1 }" @click="choice = 1">
            <span>Все</span>
          </div>
          <div class="choice" :class="{ active: choice === 2 }" @click="choice = 2">
            <span>Вторичка</span>
          </div>
          <div class="choice" :class="{ active: choice === 3 }" @click="choice = 3">
            <span>Новстройка</span>
          </div>
        </div>
        <div class="choices">
          <div class="choice" :class="{ active: buy === 1 }" @click="buy = 1">
            <span>Все</span>
          </div>
          <div class="choice" :class="{ active: buy === 2 }" @click="buy = 2">
            <span>Купить</span>
          </div>
          <div class="choice" :class="{ active: buy === 3 }" @click="buy = 3">
            <span>Снять</span>
          </div>
        </div>
        <div class="input-wrap">
          <span>Этаж:</span>
          <input type="text" placeholder="Все" />
        </div>
        <div class="input-wrap">
          <span>Количество комнат:</span>
          <input type="text" placeholder="Все" />
        </div>
        <div class="input-wrap">
          <span>Количество комнат:</span>
          <input type="text" placeholder="Все" />
        </div>
        <div class="input-wrapp">
          <span>Жилая площадь:</span>
          <div class="inputs">
            <input type="text" placeholder="От" />
            <input type="text" placeholder="До" />
          </div>
        </div>
        <div class="input-wrapp">
          <span>Стоимость:</span>
          <div class="inputs">
            <input type="text" placeholder="От" />
            <input type="text" placeholder="До" />
          </div>
        </div>
        <div class="buttons">
          <button>Очистить</button>
          <button>Применить</button>
        </div>
      </div>
    </div>
    <div class="home-section container">
      <div class="home-section_reclam">
        <router-link to="#">
          <div class="cart">
            <div class="content">
              <div class="image">
                <img src="../assets/images/cart-img.svg" alt />
              </div>
              <div class="text">
                <p>ПОСМОТРЕТЬ НА КАРТЕ</p>
              </div>
            </div>
          </div>
        </router-link>
        <div class="reclam-img">
          <router-link to="#">
            <img src="../assets/images/001.png" alt />
          </router-link>
          <router-link to="#">
            <img src="../assets/images/002.png" alt />
          </router-link>
        </div>
      </div>
      <div class="right">
        <form class="home-section_form">
          <div class="form">
            <input type="text" placeholder="Что вы ищете?" />
            <div class="price">
              <input type="text" placeholder="Цена от" />
              <span>-</span>
              <input type="text" placeholder="Цена до" />
            </div>
          </div>
          <div class="form">
            <div class="form-region" @click="select = !select">
              <div class="left">
                <img src="../assets/images/pin-dark.svg" alt />
                <div class="title">Весь Узбекистан</div>
              </div>
              <div class="icon" :class="{ active: select === true }">
                <img src="../assets/images/dropdown2.svg" alt />
              </div>
            </div>
            <div class="regions" v-if="select">
              <div class="regions-title">
                <span>Все регионы</span>
                <div class="icon">
                  <img src="../assets/images/drop-right-dark.svg" alt />
                </div>
              </div>
              <div
                class="reg"
                v-for="(region, index) in regions"
                :key="index"
                @click="tashkentShow = !tashkentShow"
              >
                <span>{{ region.name }}</span>
                <div class="icon">
                  <img src="../assets/images/drop-right.svg" alt />
                  <img src="../assets/images/drop-right-hover.svg" alt />
                </div>
              </div>
            </div>
            <div class="region-city" v-if="tashkentShow">
              <div class="region-city_title">
                <span>Город Ташкент</span>
                <div class="icon">
                  <img src="../assets/images/drop-right-dark.svg" alt />
                </div>
              </div>
              <div
                class="region-city_tash"
                v-for="(tash, index) in tashkent"
                :key="index"
                @click="tashkentShow = false"
              >
                <span>{{ tash.name }}</span>
                <div class="icon">
                  <img src="../assets/images/drop-right.svg" alt />
                  <img src="../assets/images/drop-right-hover.svg" alt />
                </div>
              </div>
            </div>
            <input type="text" placeholder="Сначала новые" />
            <button @click="() => showModal()">
              <img src="../assets/images/filter-button1.svg" alt />
              Расширенный фильтр
              <img src="../assets/images/filter-button2.svg" alt />
            </button>
          </div>
          <div class="form">
            <input type="text" placeholder="Недвижимость" />
            <div class="icons-control">
              <div class="title">Вид объявлений</div>
              <div class="grid-theme">
                <div class="grid" :class="{ active: grid }" @click="grid = true">
                  <img src="../assets/images/grid.svg" alt />
                </div>
                <div class="list" :class="{ active: !grid }" @click="grid = false">
                  <img src="../assets/images/list.svg" alt />
                </div>
              </div>
            </div>
            <button class="button-filter">
              <img src="../assets/images/filter-button3.svg" alt />
              Применить фильтр
              <img src="../assets/images/filter-button2.svg" alt />
            </button>
          </div>
          <div class="form-mobile">
            <input type="text" placeholder="Что вы ищете?" />
            <div class="price">
              <input type="text" placeholder="Цена от" />
              <span>-</span>
              <input type="text" placeholder="Цена до" />
            </div>
            <input type="text" placeholder="Ташкент" />
            <input type="text" placeholder="Сначала новые" />
            <input type="text" placeholder="Недвижимость" />
            <button @click="showModal">
              <img src="../assets/images/filter-button1.svg" alt />
              Расширенный фильтр
              <img src="../assets/images/filter-button2.svg" alt />
            </button>
            <button class="button-filter">
              <img src="../assets/images/filter-button3.svg" alt />
              Применить фильтр
              <img src="../assets/images/filter-button2.svg" alt />
            </button>
          </div>
        </form>
        <div class="filtre">
          <div class="filtre-header">
            <div class="links">
              <router-link to="#">Все обьявления</router-link>
              <span>/</span>
              <router-link to="#">Транспорт</router-link>
              <span>/</span>
              <router-link to="#">Легковые</router-link>
            </div>
            <div class="icon" @click="filter = !filter" :class="{ rotate:!filter }">
              <img src="../assets/images/dropdown.svg" alt />
            </div>
          </div>
          <div class="filtre-body" v-if="filter">
            <div class="block">
              <div class="title">Все виды недвижимости</div>
              <span>Квартиры в новостройках</span>
              <span>Квартиры в аренду</span>
              <span>Квартиры посуточно</span>
              <span>Дома, дачи, коттеджи</span>
              <span>Комнаты</span>
              <span>Коммерческая недвижимость</span>
            </div>
            <div class="block">
              <div class="title">Все виды недвижимости</div>
              <span>Квартиры в новостройках</span>
              <span>Квартиры в аренду</span>
              <span>Квартиры посуточно</span>
              <span>Дома, дачи, коттеджи</span>
              <span>Комнаты</span>
              <span>Коммерческая недвижимость</span>
            </div>
            <div class="block">
              <div class="title">Все виды недвижимости</div>
              <span>Квартиры в новостройках</span>
              <span>Квартиры в аренду</span>
              <span>Квартиры посуточно</span>
              <span>Дома, дачи, коттеджи</span>
              <span>Комнаты</span>
              <span>Коммерческая недвижимость</span>
            </div>
            <div class="block">
              <div class="title">Все виды недвижимости</div>
              <span>Квартиры в новостройках</span>
              <span>Квартиры в аренду</span>
              <span>Квартиры посуточно</span>
              <span>Дома, дачи, коттеджи</span>
              <span>Комнаты</span>
              <span>Коммерческая недвижимость</span>
            </div>
          </div>
        </div>
        <div class="home-section_products" :class="{ full:!grid }">
          <products :products="products" :class="{ full:!grid }" />
        </div>
        <pagination />
      </div>
    </div>
  </div>
</template>

<script>
import pagination from "@/components/Pagination";
import vSelect from "vue-select";
import products from "@/components/Products.vue";
import "vue-select/dist/vue-select.css";
let vm;
export default {
  components: { vSelect, products, pagination },
  data() {
    return {
      grid: true,
      filter: false,
      extended: false,
      face: false,
      choice: 1,
      buy: 1,
      select: false,
      tashkentShow: false,
      extSelect: false,
      regions: [
        {
          name: "Город Ташкент",
          id: 0
        },
        {
          name: "Андижанская область",
          id: 0
        },
        {
          name: "Бухарская область",
          id: 0
        },
        {
          name: "Джизакская область",
          id: 0
        },
        {
          name: "Кашкадарьинская область",
          id: 0
        },
        {
          name: "Навоийская область",
          id: 0
        },
        {
          name: "Наманганская область",
          id: 0
        },
        {
          name: "Самаркандская область",
          id: 0
        },
        {
          name: "Сурхандарьинская область",
          id: 0
        },
        {
          name: "Ташкентская область",
          id: 0
        },
        {
          name: "Ферганская область",
          id: 0
        },
        {
          name: "Хорезмская область",
          id: 0
        },
        {
          name: "Республика Каракалпакстан",
          id: 0
        }
      ],
      tashkent: [
        {
          name: "Алмазарский район",
          id: 0
        },
        {
          name: "Бектемирский район",
          id: 0
        },
        {
          name: "Мирабадский район",
          id: 0
        },
        {
          name: "Мирзо-Улугбекский район",
          id: 0
        },
        {
          name: "Сергелийский район",
          id: 0
        },
        {
          name: "Учтепинский район",
          id: 0
        },
        {
          name: "Хамзинский район",
          id: 0
        },
        {
          name: "Чиланзарский район",
          id: 0
        },
        {
          name: "Шайхантахурский район",
          id: 0
        },
        {
          name: "	Юнусабадский район",
          id: 0
        },
        {
          name: "	Яккасарайский район",
          id: 0
        }
      ],
      products: [
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        }
      ]
    };
  },
  mounted: function() {
    vm = this;
  },
  methods: {
    showModal: function() {
      document.body.style.overflow = "hidden";
      this.extended = true;
      document.querySelector(".myModal").className = "myModal showModal";
    },
    hideModal: function() {
      document.body.style.overflow = "auto";
      document.querySelector(".myModal").className = "myModal";
      this.extended = false;
    }
  }
};

document.addEventListener("readystatechange", function(event) {
  document.querySelector(".myModal").onclick = function() {
    let checker = this.classList.contains("showModal");
    if (checker) {
      vm.hideModal();
    }
  };
});
</script>