<template>
  <div class="profile">
    <div class="container">
      <div class="profile-wrap">
        <div class="profile-left">
          <UserSideBar />
        </div>
        <div class="profile-right_block">
          <div class="profile-right_block_header">
            <div class="title">Настройки</div>
          </div>
          <div class="profile-right_block_body">
            <div class="buttons">
              <button>Купить бизнес профиль</button>
              <button>Выйти из аккаунта</button>
              <button>Удалить аккаунт</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UserSideBar from "@/components/UserSideBar";
export default {
  components: { UserSideBar },
  data() {
    return {};
  }
};
</script>