<template>
  <div class="search-page">
    <div class="home-section container">
      <div class="home-section_reclam">
        <div class="user">
          <div class="user-header">
            <div class="user-header_title">Контактное лицо</div>
          </div>
          <div class="user-body">
            <div class="person">
              <div class="person-img">
                <img src="../assets/images/person.svg" alt />
              </div>
              <div class="person-name">Алена Петренко</div>
            </div>
            <div class="info">
              <div class="block">
                <div class="title">В системе Topin:</div>
                <span>c 01.12.2020</span>
              </div>
              <div class="block">
                <div class="title">Кол-во объявлений:</div>
                <span>272</span>
              </div>
              <div class="block">
                <div class="title">Тип аккаунта:</div>
                <span>Частный</span>
              </div>
            </div>
          </div>
        </div>
        <div class="user-reclam-img">
          <div class="reclam-img">
            <router-link to="#">
              <img src="../assets/images/001.png" alt />
            </router-link>
            <router-link to="#">
              <img src="../assets/images/002.png" alt />
            </router-link>
          </div>
        </div>
      </div>
      <div class="right">
        <form class="home-section_form">
          <div class="form">
            <input type="text" placeholder="Что вы ищете?" />
            <div class="price">
              <input type="text" placeholder="Цена от" />
              <!-- <span> - </span> -->
              <span>-</span>
              <input type="text" placeholder="Цена до" />
            </div>
          </div>
          <div class="form">
            <input type="text" placeholder="Ташкент" />
            <input type="text" placeholder="Сначала новые" />
            <button @click="extended = true">
              <img src="../assets/images/filter-button1.svg" alt />
              Расширенный фильтр
              <img src="../assets/images/filter-button2.svg" alt />
            </button>
          </div>
          <div class="form">
            <input type="text" placeholder="Недвижимость" />
            <div class="icons-control">
              <div class="title">Вид объявлений</div>
              <div class="grid-theme">
                <div class="grid" :class="{ active: grid }" @click="grid = true">
                  <img src="../assets/images/grid.svg" alt />
                </div>
                <div class="list" :class="{ active: !grid }" @click="grid = false">
                  <img src="../assets/images/list.svg" alt />
                </div>
              </div>
            </div>
            <button class="button-filter">
              <img src="../assets/images/filter-button3.svg" alt />
              Применить фильтр
              <img src="../assets/images/filter-button2.svg" alt />
            </button>
          </div>
          <div class="form-mobile">
            <input type="text" placeholder="Что вы ищете?" />
            <div class="price">
              <input type="text" placeholder="Цена от" />
              <span>-</span>
              <input type="text" placeholder="Цена до" />
            </div>
            <input type="text" placeholder="Ташкент" />
            <input type="text" placeholder="Сначала новые" />
            <input type="text" placeholder="Недвижимость" />
            <button @click="extended = true">
              <img src="../assets/images/filter-button1.svg" alt />
              Расширенный фильтр
              <img src="../assets/images/filter-button2.svg" alt />
            </button>
            <button class="button-filter">
              <img src="../assets/images/filter-button3.svg" alt />
              Применить фильтр
              <img src="../assets/images/filter-button2.svg" alt />
            </button>
          </div>
        </form>
        <div class="filtre">
          <div class="filtre-header">
            <div class="links">
              <router-link to="#">Все обьявления</router-link>/
              <router-link to="#">Транспорт</router-link>/
              <router-link to="#">Легковые</router-link>
            </div>
            <div class="icon" @click="filter = !filter" :class="{ rotate:!filter }">
              <img src="../assets/images/dropdown.svg" alt />
            </div>
          </div>
          <div class="filtre-body" v-if="filter">
            <div class="block">
              <div class="title">Все виды недвижимости</div>
              <span>Квартиры в новостройках</span>
              <span>Квартиры в аренду</span>
              <span>Квартиры посуточно</span>
              <span>Дома, дачи, коттеджи</span>
              <span>Комнаты</span>
              <span>Коммерческая недвижимость</span>
            </div>
            <div class="block">
              <div class="title">Все виды недвижимости</div>
              <span>Квартиры в новостройках</span>
              <span>Квартиры в аренду</span>
              <span>Квартиры посуточно</span>
              <span>Дома, дачи, коттеджи</span>
              <span>Комнаты</span>
              <span>Коммерческая недвижимость</span>
            </div>
            <div class="block">
              <div class="title">Все виды недвижимости</div>
              <span>Квартиры в новостройках</span>
              <span>Квартиры в аренду</span>
              <span>Квартиры посуточно</span>
              <span>Дома, дачи, коттеджи</span>
              <span>Комнаты</span>
              <span>Коммерческая недвижимость</span>
            </div>
            <div class="block">
              <div class="title">Все виды недвижимости</div>
              <span>Квартиры в новостройках</span>
              <span>Квартиры в аренду</span>
              <span>Квартиры посуточно</span>
              <span>Дома, дачи, коттеджи</span>
              <span>Комнаты</span>
              <span>Коммерческая недвижимость</span>
            </div>
          </div>
        </div>
        <div class="home-section_products" :class="{ full:!grid }">
          <products :products="products" :class="{ full:!grid }" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import vSelect from "vue-select";
import products from "@/components/Products.vue";
import "vue-select/dist/vue-select.css";
export default {
  components: { vSelect, products },
  data() {
    return {
      grid: true,
      filter: false,
      options: [
        "Андижанская область",
        "Бухарская область",
        "Джизакская область ",
        "Каракалпакстан",
        "Кашкадарьинская область",
        "Навоийская область",
        "Наманганская область ",
        "Самаркандская область",
        "Сурхандарьинская область",
        "Сырдарьинская область",
        "Ташкент",
        "Ферганская область",
        "Хорезмская область"
      ],
      products: [
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "50 000 UZS"
        }
      ]
    };
  }
};
</script>