.add-product {
  margin-top: 30px;
  margin-bottom: 80px;
  & .title {
    display: flex;
    align-items: center;
    background: #5a5a5a;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    & span {
      margin-left: 20px;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #ffffff;
    }
  }
  & .publication {
    margin-top: 30px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
    border-radius: 10px;
    .photo-body {
      padding: 20px;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      & img {
        // flex: 1;
        width: 100%;
        max-width: 240px;
        margin-bottom: 10px;
      }
    }
    &-header {
      height: 50px;
      border-bottom: 1px solid #efefef;
      display: flex;
      align-items: center;
      &_title {
        margin-left: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #333333;
      }
      & span {
        margin-left: 15px;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
        /* identical to box height, or 140% */

        display: flex;
        align-items: flex-end;

        /* Темно серый цвет */

        color: #999999;
      }
    }

    &-body {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      & .form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding: 0 20px;
        & .blog-wrapp {
          display: flex;
          flex-direction: column;
          width: 100%;
          // margin: 0 20px;
          max-width: 49%;
          & input {
            width: 100%;
            height: 40px;
            background: #ffffff;
            box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
            border-radius: 10px;
            border: none;
            padding-left: 15px;
            &::placeholder {
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 22px;
              color: #aeaeae;
            }
          }
        }
        & .blog-full {
          flex: 1;
          display: flex;
          flex-direction: column;
          & input {
            width: 100%;
            height: 40px;
            background: #ffffff;
            box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
            border-radius: 10px;
            border: none;
            padding-left: 15px;
            &::placeholder {
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 22px;
              color: #aeaeae;
            }
          }
          & textarea {
            padding: 10px 15px;
            background: #ffffff;
            box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
            border-radius: 10px;
            height: 65px;
            &::placeholder {
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 22px;
              color: #aeaeae;
            }
          }
        }
        & label {
          // margin-left: 20px;
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 14px;
          color: #999999;
        }
        & > .blog {
          margin: 0 20px;
          max-width: 48%;
        }
        & .blog {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 40px;
          background: #ffffff;
          box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
          border-radius: 10px;
          & span {
            margin-left: 15px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #999999;
          }
          & .m {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #333333;
          }
          & .icon {
            margin-right: 15px;
          }
        }
        & .map {
          flex: 1;
          display: flex;
          flex-direction: column;
          &-wrapp {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            align-items: center;
            .info {
              margin-right: 20px;
            }
            & .map-button {
              & button {
                background: #ff7800;
                border-radius: 10px;
                width: 175px;
                height: 40px;
                border: none;
                display: flex;
                align-items: center;
                justify-content: space-around;
                & svg {
                  color: white;
                }
                & span {
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 22px;
                  color: #ffffff;
                }
              }
            }
          }
        }
        & > .info {
          margin: 0 10px;
        }
        & .info {
          display: flex;
          align-items: center;
          width: 100%;
          height: 40px;
          box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
          border-radius: 10px;
          & span {
            margin-left: 15px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #333333;
          }
        }
        // & .cart-img {
        //   & img {
        //     width: 100%;
        //     text-align: center;
        //   }
        // }
      }
      & .fasad {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        &-header {
          margin-bottom: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: #efefef;
          border-radius: 10px;
          height: 40px;
          & span {
            margin-left: 20px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #333333;
          }
          & .icon {
            margin-right: 20px;
          }
          & .rotate {
            transform: rotate(-180deg);
          }
        }
        &-body {
          padding: 0 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          & .block {
            flex-basis: 25%;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            & input[type="checkbox"] {
              display: none;
              & + label::before {
                content: "\2714";
                color: #ffffff;
                display: inline-block;
                border: 2px solid #333333;
                border-radius: 3px;
                opacity: 0.9;
                width: 16px;
                height: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                transition: color ease 0.5s;
                margin-right: 10px;
                cursor: pointer;
              }
              &:checked + label::before {
                background: #262626;
              }
            }
            & label {
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 18px;
              color: #999999;
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }
  & .address {
    margin-top: 30px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
    border-radius: 10px;
    &-header {
      height: 50px;
      border-bottom: 1px solid #efefef;
      display: flex;
      align-items: center;
      &_title {
        margin-left: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #333333;
      }
      & span {
        margin-left: 15px;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
        color: #999999;
        display: flex;
        align-items: center;
      }
    }
  }
  & .contacts {
    margin-top: 30px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
    border-radius: 10px;
    &-header {
      height: 50px;
      border-bottom: 1px solid #efefef;
      display: flex;
      align-items: center;
      &_title {
        margin-left: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #333333;
      }
    }
  }
  .buttons {
    margin-top: 30px;
    width: 100%;
    height: 50px;
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    & button {
      margin-left: 20px;
      background: #999999;
      border-radius: 10px;
      border: none;
      width: 113px;
      height: 30px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #ffffff;
    }
    & .color {
      background: #ff7800;
      border-radius: 10px;
      border: none;
      width: 113px;
      height: 30px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #ffffff;
    }
  }
}
