.cart {
  display: flex;
  height: 1010px;
  &-left {
    width: 360px;
    background: #f7faff;
    &_filter {
      padding: 20px;
    }
  }
  &-center {
    flex: 1;
    background: #4e4898;
  }
  &-right {
    width: 360px;
    background: #f7faff;
    &_wrap {
      padding: 20px;
      & .title {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #333333;
        display: flex;
        justify-content: center;
      }
      .date {
        margin-top: 20px;
        padding: 15px;
        width: 320px;
        height: 40px;
        background: #ffffff;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & span {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          color: #999999;
        }
      }
      & .mobile {
        margin-left: 0;
        & .mini {
          margin-top: 20px;
          margin-bottom: 0;
          display: flex !important;
          flex-direction: row !important;
          height: 70px;
          & .product-header {
            width: 100px !important;
            height: 70px !important;
            border-radius: 10px 0 0 10px;
            & img {
              width: 50px;
              height: 50px;
            }
            & .img-right {
              top: -13px;
              & img {
                height: 50px;
              }
            }
            & .img-bottom {
              & img {
                width: 16px;
                height: 16px;
              }
            }
          }
          & .product-body {
            width: 220px;
            height: 70px;
            border-radius: 0 10px 10px 0;
          }
        }
      }
      & .mob {
        & .pagination-buttons {
          & .arrows {
            width: 30px;
            & span {
              display: none;
            }
            & img {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
