.enter {
  background: #333333;
  background-image: url(/images/background.png);
  width: 100%;
  height: 100vh;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  &-modal {
    width: 380px;
    height: 310px;
    background: #f7faff;
    box-shadow: 0px 0px 88px rgba(0, 0, 0, 0.47);
    border-radius: 10px;
    padding: 0 20px;
    &_logo {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
    & input {
      margin-top: 20px;
      padding-left: 15px;
      width: 100%;
      height: 40px;
      box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
      border-radius: 10px;
      border: none;
      &::placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #999999;
      }
    }
    &_text {
      margin-top: 20px;
      text-align: center;
      & span {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #aeaeae;
      }
      & a {
        color: #ff7800;
        text-decoration: none;
      }
    }
    &_button {
      margin-top: 20px;
      & button {
        width: 100%;
        height: 40px;
        background: #2dba49;
        border-radius: 10px;
        border: none;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #ffffff;
      }
    }
    &_code {
      display: flex;
      justify-content: space-between;
      align-items: center;
      & #code {
        width: 85%;
      }
      & .number {
        margin-top: 20px;
        background: #ffffff;
        box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
        border-radius: 10px;
        width: 40px;
        height: 40px;
        color: #ff7800;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &_type {
      margin-top: 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #999999;
      display: flex;
      justify-content: center;
    }
    &_click {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 40px;
      background: #ffffff;
      box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
      border-radius: 10px;
      & .plain {
        background: #ff7800;
        border-radius: 10px 0 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: white;
      }
      & .buisness {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #999999;
      }
    }
    &_btn {
      margin-top: 30px;
      & button {
        width: 100%;
        height: 40px;
        background: #2dba49;
        border-radius: 10px;
        border: none;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #ffffff;
      }
    }
  }
  &-registration {
    width: 850px;
    height: 595px;
    background: #f7faff;
    box-shadow: 0px 0px 88px rgba(0, 0, 0, 0.47);
    border-radius: 10px;
    &_header {
      width: 100%;
      height: 50px;
      border-bottom: 1px solid #efefef;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      & span {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #333333;
        &:last-child {
          color: #999999;
        }
      }
    }
    &_body {
      margin-top: 20px;
      padding: 0 20px;
      &_data {
        & .title {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          color: #333333;
        }
        & .content {
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          & .photo {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex: 4;
            &-left {
              display: flex;
              flex-direction: column;
              justify-content: center;
              & label {
                display: flex;
                justify-content: flex-start;
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 14px;
                color: #999999;
              }
              & .foto {
                flex: 4;
                display: flex;
                justify-content: center;
              }
            }
          }
          & .big {
            display: flex;
            flex-direction: column;
            flex: 8;
            & .block {
              display: flex;
              flex-direction: column;
              & label {
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 14px;
                color: #999999;
              }
              & .name {
                height: 40px;
                width: 100%;
                background: #ffffff;
                box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
                border-radius: 10px;
                display: flex;
                align-items: center;
                padding-left: 15px;
                margin-bottom: 20px;
                & span {
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 22px;
                  color: #333333;
                }
              }
            }
            & .block-2 {
              display: flex;
              justify-content: space-between;
              & label {
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 14px;
                color: #999999;
              }
              & .column {
                flex: 1;
                margin-right: 20px;
                &:last-child {
                  margin-right: 0;
                }
                & .date {
                  width: 100%;
                  height: 40px;
                  background: #ffffff;
                  box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
                  border-radius: 10px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  padding: 0 15px;
                  & span {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 22px;
                    color: #333333;
                  }
                }
              }
            }
          }
        }
      }
      & .wrap {
        display: flex;
        & .enter-registration_body_location {
          margin-top: 20px;
          flex: 4;
          & .title {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #333333;
          }
          & .content {
            margin-top: 20px;
            display: flex;
            justify-content: flex-start;
            & .country {
              display: flex;
              flex-direction: column;
              width: 100%;
              & label {
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 14px;
                color: #999999;
              }
              & .uzb {
                height: 40px;
                background: #ffffff;
                box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
                border-radius: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 15px;
                & span {
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 22px;
                  color: #333333;
                }
              }
            }
          }
        }
        & .empty {
          flex: 8;
        }
        & .enter-registration_body_contacts {
          width: 100%;
          margin-top: 20px;
          & .title {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #333333;
          }
          & .content {
            margin-top: 20px;
            display: flex;
            justify-content: flex-start;
            & .block {
              display: flex;
              flex-direction: column;
              margin-right: 20px;
              flex: 4;
              &:last-child {
                flex: 3;
                margin-right: 0;
              }
              & label {
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 14px;
                color: #999999;
              }
              & .mail {
                height: 40px;
                width: 100%;
                background: #ffffff;
                box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
                border-radius: 10px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 0 15px;
                & span {
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 22px;
                  color: #333333;
                }
              }
            }
          }
          & .save {
            display: flex;
            justify-content: flex-end;
            padding-bottom: 20px;
            & button {
              margin-top: 22px;
              flex: 4;
              width: 100%;
              height: 40px;
              border: none;
              display: flex;
              align-items: center;
              justify-content: center;
              color: white;
              background: #ff7800;
              border-radius: 10px;
            }
          }
        }
        & .empty2 {
          flex: 8;
        }
      }
    }
  }
}
