.home {
  &-tablet_slider {
    display: none;
  }
  &-mobile_slider {
    display: none;
  }
  &-slider_mobile {
    display: none;
    & .slider-block {
      margin-top: 20px;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      & span {
        max-width: 80px;
        margin: 0 auto;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
        color: #333333;
      }
      & img {
        margin: 0;
      }
    }
  }
  &-slider {
    & .slick-slide {
      padding: 30px 0 0;
    }
    &_category {
      width: 263px !important;
      margin-right: 30px;
      height: 184px;
      border-radius: 10px;
      background-color: #333333;
      overflow: hidden;
      transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
      position: relative;
      &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        transform: translate(0, -6px);
        transition-delay: 0s !important;
      }
      &_block {
        display: flex !important;
        justify-content: space-between;
        &_left {
          & .title {
            margin-top: 15px;
            max-width: 120px;
            margin-left: 15px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #ffffff;
          }
          & .descr {
            margin-top: 10px;
            max-width: 120px;
            margin-left: 15px;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            color: #aeaeae;
          }
        }
        &_right {
          & .image {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 20;
          }
        }
      }
      &_bottom {
        position: relative;
        z-index: 50;
        & .number {
          position: absolute;
          top: 32px;
          left: 15px;
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 22px;
          color: #ffffff;
        }
      }
      &_background {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 19;
      }
    }
  }
  &-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    &_reclam {
      display: flex;
      flex-direction: column;
      flex: 2;
      & .cart {
        background-color: #333333;
        width: 100%;
        height: 110px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          max-width: 215px;
          margin: 0 auto;
          & .text {
            & p {
              margin-top: 15px;
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 28px;
              text-align: center;
              display: flex;
              align-items: center;
              color: #ffffff;
            }
          }
        }
      }
      & .reclam-img {
        & img {
          margin-top: 30px;
          width: 263px;
          height: 255px;
        }
      }
    }
    &_products {
      margin-left: 15px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex: 10;
      & .product-full {
        display: none;
      }
      & .product {
        cursor: pointer;
        margin-bottom: 20px;
        box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
        z-index: 8;
        &-header {
          background-color: #c4c4c4;
          width: 100%;
          max-width: 197px;
          height: 138px;
          border-radius: 10px 10px 0 0;
          position: relative;
          z-index: -2;
          & img {
            border-radius: 10px 0 0 0;
          }
          & .img-right {
            border-radius: 0 10px 0 0;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
          }
          & .img-bottom {
            position: absolute;
            right: 10px;
            bottom: 10px;
          }
        }
        &-body {
          padding: 10px;
          width: 197px;
          height: 84px;
          background-color: #ffeede;
          border-radius: 0 0 10px 10px;
          & .title {
            font-style: normal;
            font-weight: normal;
            max-width: 177px;
            margin: 0 auto;
            font-size: 12px;
            line-height: 18px;
            color: #333333;
          }
          & .about {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 177px;
            margin: 0 auto;
            & span {
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 18px;
              color: #999999;
            }
            & .price {
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 18px;
              color: #333333;
            }
          }
        }
      }
      & .big-img {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
        & img {
          width: 100%;
          height: 260px;
        }
      }
    }
  }
}

.full {
  z-index: 9;
  & .home-section_products {
    display: flex;
    flex-direction: column;
    & .product {
      display: none;
    }
    & .product-full {
      display: flex;
      margin-bottom: 20px;
      & .product-left {
        border-radius: 10px 0 0 10px;
        width: 180px;
        height: 100px;
        background: #c4c4c4;
        position: relative;
        z-index: -1;
        & img {
          border-radius: 10px 0 0 0;
          width: 78px;
          height: 78px;
          z-index: 2;
        }
        & .img-right {
          position: absolute;
          top: -5px;
          right: 0;
          z-index: -1;
          & img {
            height: 78px;
            width: 140px;
          }
        }
        & .img-bottom {
          position: absolute;
          right: 10px;
          bottom: 10px;
          & img {
            width: 16px;
            height: 16px;
          }
        }
      }
      &_right {
        padding: 15px;
        width: 100%;
        max-height: 100px;
        background: #ffeede;
        border-radius: 0 10px 10px 0;
        display: flex;
        flex-direction: column;
        & .title {
          display: flex;
          justify-content: space-between;
          & span {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #333333;
          }
        }
        & .adress {
          margin-top: 5px;
          display: flex;
          justify-content: space-between;
          & span {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            color: #999999;
          }
        }
        & .city {
          margin-top: 5px;
          display: flex;
          justify-content: space-between;
          & span {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            color: #999999;
          }
        }
      }
    }
  }
}
