.chat {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
  &-left {
    flex: 3;
  }
  &-right {
    margin-top: 30px;
    flex: 9;
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
    border-radius: 10px;
    z-index: 10;
    position: relative;
    &_header {
      padding: 20px;
      border-bottom: 1px solid #efefef;
      & .mess-product {
        width: 100%;
        height: 100px;
        display: flex;
        &_left {
          width: 180px;
          background: #c4c4c4;
          border-radius: 10px 0 0 10px;
          position: relative;
          & .img-right {
            position: absolute;
            top: -2px;
            right: 0;
            & img {
              width: 140px;
              height: 72px;
            }
          }
          & .img-bottom {
            position: absolute;
            bottom: 10px;
            right: 10px;
            & img {
              width: 16px;
              height: 16px;
            }
          }
        }
        &_right {
          width: 100%;
          padding: 15px;
          background: #ffeede;
          border-radius: 0 10px 10px 0;
          & .about {
            margin-top: 5px;
            display: flex;
            justify-content: space-between;
            &-title {
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 22px;
              color: #333333;
            }
            &-price {
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 22px;
              color: #333333;
            }
            & span {
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 18px;
              color: #999999;
            }
            &:first-child {
              margin-top: 0;
            }
            &:last-child {
              display: none;
              margin-top: 15px;
              & .price {
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 14px;
                color: #333333;
              }
            }
          }
        }
      }
    }
    &_body {
      width: 100%;
      height: 500px;
      padding: 20px 20px 40px;
      overflow: scroll;
      & .date-wrap {
        display: flex;
        justify-content: center;
        & .date {
          margin-bottom: 20px;
          padding: 3px 7px;
          background: #ffffff;
          box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
          border-radius: 10px;
          width: 100px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          & span {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            color: #333333;
          }
        }
      }

      & .messages {
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
        z-index: -10;
        & .wrap {
          display: flex;
          flex-direction: row;
          & .entering-message {
            flex: 4;
            padding: 5px 10px;
            margin-bottom: 10px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            background: #ffffff;
            box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
            border-radius: 10px 10px 10px 0px;
            & .text {
              & span {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                color: #333333;
              }
            }
            & .time {
              & span {
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 14px;
                color: #999999;
              }
            }
          }
          & .empty {
            flex: 8;
          }
        }
        & .wrapp {
          display: flex;
          flex-direction: row;
          & .empty {
            flex: 8;
          }
          & .outgoing-message {
            flex: 4;
            padding: 5px 10px;
            margin-bottom: 10px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: auto;
            height: auto;
            background: #ff7800;
            box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
            border-radius: 10px 10px 0px 10px;
            & .text {
              & span {
                max-width: 270px;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                color: #ffffff;
              }
            }
            & .time {
              & span {
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 14px;
                color: #ffffff;
              }
            }
          }
        }
      }
    }
    & .send-input {
      background: #ffffff;
      padding: 0 20px;
      width: 100%;
      height: 50px;
      box-shadow: 0px 5px 40px rgba(45, 48, 58, 0.15);
      border-radius: 0 0 10px 10px;
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 0;
      z-index: 10;
      & input {
        width: 100%;
        height: 50px;
        border: none;
        &::placeholder {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          color: #999999;
        }
      }
    }
  }
}
