.prewiew {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 30px;
  flex: 12;
  &-left {
    flex: 10;
    & .title-1 {
      padding: 0 20px;
      width: 100%;
      height: 50px;
      background: #5a5a5a;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & span {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #ffffff;
      }
      & .price {
        display: flex;
        & .icon {
          margin-right: 20px;
        }
      }
    }
    & .price-mobile {
      display: none;
      margin-top: 20px;
      padding: 0 20px;
      width: 100%;
      height: 50px;
      background: #5a5a5a;
      border-radius: 10px;
      justify-content: space-between;
      align-items: center;
      & span {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #ffffff;
      }
    }
    & .content {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      & .left {
        max-width: 360px;
        & .mini-img {
          flex-wrap: wrap;
          margin-top: 10px;
          & img {
            margin-left: 8px;
            margin-bottom: 8px;
            &:nth-child(1) {
              margin-left: 0;
            }
            &:nth-child(5) {
              margin-left: 0;
            }
            &:nth-child(9) {
              margin-left: 0;
            }
          }
        }
      }
      & .right {
        margin-left: 30px;
        background: #ffffff;
        box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
        border-radius: 10px;
        &-about {
          display: flex;
          flex-direction: column;
          &_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            padding: 0 20px;
            border-bottom: 1px solid #efefef;
            & .zag {
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 28px;
              color: #333333;
            }
            & .image {
              & .mob-img {
                display: none;
                background: #999999;
                border-radius: 10px;
                width: 30px;
                height: 30px;
                align-items: center;
                justify-content: center;
              }
            }
          }
          &_body {
            display: flex;
            flex-direction: column;
            padding: 20px;
            & .block {
              margin-bottom: 15px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              & .name {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                color: #333333;
              }
              & .line {
                max-width: 220px;
                border-bottom: 1px solid #efefef;
                width: 100%;
                display: flex;
                justify-content: center;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                color: #000000;
              }
              & span {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                color: #999999;
              }
            }
            & .text {
              & span {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                color: #000000;
              }
            }
          }
        }
      }
    }
    & .aboutt {
      margin-top: 30px;
      background: #ffffff;
      box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
      border-radius: 10px;
      &-header {
        height: 50px;
        display: flex;
        background: #5a5a5a;
        border-radius: 10px 10px 0 0;
        flex: 12;
        & .left {
          background: #ff7800;
          border-radius: 10px 0 0 0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 3;
          & span {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: #ffffff;
          }
        }
        & .right-content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 20px;
          flex: 9;
          & span {
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: white;
          }
        }
      }
      &-body {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        padding-bottom: 20px;
        & .fasad {
          margin-top: 20px;
          border-radius: 10px;
          &-header {
            background: #efefef;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            padding: 0 20px;
            border-radius: 10px;
            & span {
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 22px;
              color: #333333;
            }
          }
          &-body {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            & .column {
              display: flex;
              flex-direction: column;
              & .block {
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;
                & .text {
                  & .title1 {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 18px;
                    color: #333333;
                    opacity: 0.9;
                  }
                  & .subtitle {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 18px;
                    color: #999999;
                    opacity: 0.9;
                  }
                }
                & .ok {
                  margin-left: 40px;
                }
              }
            }
          }
        }
      }
    }
    & .copy {
      margin-top: 30px;
      width: 100%;
      height: 50px;
      background: #5a5a5a;
      border-radius: 10px;
      display: flex;
      align-items: center;
      & span {
        margin-left: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: white;
      }
    }
    & .copy-products {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  &-right {
    margin-left: 20px;
    flex: 2;
    display: flex;
    flex-direction: column;
    & .button {
      & .call {
        background: #2dba49;
        margin-bottom: 10px;
        & img {
          margin-right: 10px;
        }
      }
      & .write {
        background: #999999;
        margin-bottom: 10px;
        & img {
          margin-right: 10px;
        }
      }
    }
    & .reclam-image {
      margin-top: 20px;
      & #img {
        margin-top: 20px;
      }
    }
  }
  & .tablet {
    display: none;
    display: flex;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(45, 48, 58, 0.06);
    & .user-tablet {
      flex: 6;
      &_header {
        background: #5a5a5a;
        height: 50px;
        border-radius: 10px 10px 0 0;
        display: flex;
        align-items: center;
        &_title {
          margin-left: 20px;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 28px;
          color: #ffffff;
        }
      }
      &_body {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        & .person {
          margin-top: 20px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          &-img {
            background: #aeaeae;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &-name {
            margin-left: 15px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #333333;
          }
        }
        & .info {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          & .block {
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            & .title {
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 18px;
              color: #333333;
            }
            & span {
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 18px;
              color: #999999;
            }
          }
        }
      }
    }
    & .buttons {
      flex: 6;
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      & button {
        background: #ff7800;
        border-radius: 10px;
        border: none;
        width: 100%;
        height: 40px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #ffffff;
      }
      & .call {
        background: #2dba49;
        margin-bottom: 20px;
        & img {
          margin-right: 10px;
        }
      }
      & .write {
        background: #999999;
        margin-bottom: 20px;
        & img {
          margin-right: 10px;
        }
      }
    }
  }
}
.like-products {
  .home-section_products {
    margin-left: 0 !important;
  }
}
