.profile {
  &-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &-left {
    margin-right: 30px;
  }
  &-right {
    flex: 1;
    &_block {
      margin-top: 30px;
      background: #ffffff;
      box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
      border-radius: 10px;
      width: 100%;
      &_header {
        height: 50px;
        border-bottom: 1px solid #efefef;
        display: flex;
        align-items: center;
        & .title {
          margin-left: 20px;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 28px;
          color: #333333;
        }
      }
      &_body {
        padding: 20px;
        & .buttons {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          & button {
            flex: 1;
            min-width: 256px;
            height: 40px;
            background: #ff7800;
            box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
            border-radius: 10px;
            border: none;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #ffffff;
            margin-right: 20px;
            &:nth-child(2) {
              background: #5a5a5a;
            }
            &:last-child {
              background: #ff4444;
              margin-right: 0;
            }
          }
        }
        & .sort {
          width: 100%;
          height: 40px;
          background: #efefef;
          border-radius: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 5px;
          &-button {
            display: flex;
            justify-content: center;
            align-items: center;
            & button {
              width: 130px;
              height: 30px;
              background: #ff7800;
              border-radius: 10px;
              border: none;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 0 15px;
              & span {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                color: #ffffff;
              }
            }
          }
          &-date {
            display: flex;
            justify-content: flex-end;
            flex: 1;
            &_wrap {
              display: flex;
              align-items: center;
              & span {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                color: #999999;
                margin-right: 15px;
              }
              & button {
                width: 115px;
                height: 30px;
                background: #ffffff;
                box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
                border-radius: 10px;
                border: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 15px;
                & span {
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 22px;
                  color: #333333;
                }
              }
            }
          }
        }
        & .profile-product {
          margin-top: 20px;
          background: #ffffff;
          box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
          border-radius: 10px;
          &_wrap {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 70px;
            & .left {
              & .image {
                width: 100px;
                height: 100%;
                display: flex;
                // background: #c4c4c4;
                background: url(/images/image.JPEG) no-repeat;
                background-size: cover;
                border-radius: 10px 0 0 0;
                position: relative;
                & img {
                  border-radius: 10px 0 0 0;
                  width: 50px;
                  height: 50px;
                  z-index: 2;
                }
                &-right {
                  position: absolute;
                  right: 0;
                  top: -26px;
                  & img {
                    width: 100px;
                    height: 100px;
                  }
                }
                &-bottom {
                  position: absolute;
                  right: 5px;
                  bottom: 5px;
                  & img {
                    width: 16px;
                    height: 16px;
                  }
                }
              }
            }
            & .right {
              padding: 10px 10px;
              &-title {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                color: #333333;
              }
              &-about {
                margin-top: 18px;
                display: flex;
                justify-content: space-between;
                & span {
                  font-style: normal;
                  font-weight: normal;
                  font-size: 10px;
                  line-height: 14px;
                  color: #999999;
                  &:last-child {
                    font-weight: 500;
                    color: #333333;
                  }
                }
              }
            }
          }
          &_buttons {
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: space-between;
            & a:hover {
              text-decoration: none;
            }
            & .lnk {
              display: flex;
              justify-content: center;
              align-items: center;
              flex: 1;
              border-radius: 0 0 0 10px;
              border: none;
              background: #f5f5f5;
              font-style: normal;
              font-weight: normal;
              font-size: 10px;
              line-height: 14px;
              color: #333333;
              border-right: 1px solid rgba(174, 174, 174, 0.5);
              &:nth-child(2) {
                border-radius: 0;
              }
              &:nth-child(3) {
                border-radius: 0;
              }
              &:last-child {
                border-radius: 0 0 10px 0;
                background: #ff7800;
                color: #ffffff;
                font-weight: 500;
                border-right: none;
              }
              & span {
                margin-left: 5px;
              }
            }
          }
        }
        & .id-block {
          margin-top: 20px;
          width: 100%;
          background: #ffffff;
          box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
          border-radius: 10px;
          padding: 10px 10px;
          &_info {
            display: flex;
            justify-content: space-between;
            & span {
              font-style: normal;
              font-weight: normal;
              font-size: 10px;
              line-height: 14px;
              color: #999999;
              margin-top: 2px;
            }
            & .id-title {
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 18px;
              color: #333333;
            }
            & .price {
              font-style: normal;
              font-weight: 500;
              font-size: 10px;
              line-height: 14px;
              color: #333333;
            }
          }
        }
        & .mess-block {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
          width: 100%;
          background: #ffffff;
          box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
          border-radius: 10px;
          padding: 10px 10px;
          &_left {
            display: flex;
            & .mess-img {
              min-width: 40px;
              height: 40px;
              border-radius: 10px;
              background: #aeaeae;
            }
            & .content {
              margin-left: 10px;
              display: flex;
              flex-direction: column;
              & .id-title {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                color: #333333;
              }
              & .id-descr1 {
                font-style: normal;
                font-weight: normal;
                font-size: 8px;
                line-height: 12px;
                color: #aeaeae;
              }
              & .id-descr2 {
                font-style: normal;
                font-weight: normal;
                font-size: 8px;
                line-height: 12px;
                color: #ff7800;
              }
            }
          }
          &_right {
            display: flex;
            flex-direction: column;
            & .day {
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 18px;
              color: #999999;
            }
            & .notification {
              display: flex;
              justify-content: center;
              align-items: center;
              background: #ff7800;
              border-radius: 50%;
              width: 20px;
              height: 20px;
              font-style: normal;
              font-weight: normal;
              font-size: 10px;
              line-height: 14px;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
