.reclam {
  margin-top: 30px;
  margin-bottom: 90px;
  &-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    background: #5a5a5a;
    border-radius: 10px;
    & span {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #ffffff;
    }
  }
  &-body {
    display: flex;
    width: 100%;
    &_block {
      cursor: pointer;
      margin-top: 30px;
      margin-left: 20px;
      flex: 4;
      display: flex;
      flex-direction: column;
      background: #ffffff;
      box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
      border-radius: 10px;
      &:first-child {
        margin-left: 0;
      }
      &_img {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        & #orange {
          display: none;
        }
      }
      &_title {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        & span {
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 28px;
          color: #333333;
        }
      }
      &_descr {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        & span {
          text-align: center;
          max-width: 327px;
          margin: 0 auto;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          color: #333333;
          &:last-child {
            max-width: 320px;
          }
        }
      }
      &_price {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        & span {
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 48px;
          color: #333333;
        }
      }
      &_imgBottom {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        & img {
          width: 100%;
          border-radius: 0 0 10px 10px;
        }
      }
    }

    & .mobile-block {
      display: none;
      background: #ffffff;
      box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
      border-radius: 10px;
      cursor: pointer;
      margin-top: 30px;
      margin-left: 20px;
      flex: 4;
      flex-direction: column;
      &_content {
        padding: 10px 10px;
        display: flex;
        &_img {
          display: flex;
          align-items: center;
          & img {
            width: 50px;
            height: 50px;
          }
          & #orange {
            display: none;
          }
        }
        &_text {
          margin-left: 10px;
          &_title {
            & span {
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 22px;
              color: #333333;
            }
          }
          &_descr {
            display: flex;
            flex-direction: column;
            & span {
              font-style: normal;
              font-weight: normal;
              font-size: 8px;
              line-height: 12px;
              color: #333333;
            }
          }
        }
        &_price {
          padding: 10px;
          background: #999999;
          border-radius: 0 0 10px 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          & span {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #ffffff;
          }
        }
      }
    }
    & .active {
      background: #ff7800;
      box-shadow: 0px 0px 88px rgba(0, 0, 0, 0.47);
      transition: 0.6s ease-out;
      & #orange {
        display: inline !important;
      }
      & #grey {
        display: none !important;
      }
      & span {
        color: #ffffff;
      }
      & .mobile-block_content_price {
        background: #ff7800;
      }
    }
  }
  &-buttons {
    margin-top: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
    border-radius: 10px;
    & button {
      margin-right: 20px;
      width: 115px;
      height: 30px;
      border: none;
      background: #999999;
      border-radius: 10px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #ffffff;
      &:last-child {
        margin-right: 0;
      }
    }
    & .chosen {
      background: #ff7800;
    }
  }
}
