.replenishment {
    margin-top: 30px;
    margin-bottom: 90px;
    &-header {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        width: 100%;
        background: #5a5a5a;
        border-radius: 10px;
        & span {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            color: #FFFFFF;
        }
    }
    &-body {
        margin-top: 30px;
        display: flex;
        &_left {
            flex: 6;
            background: #FFFFFF;
            box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
            border-radius: 10px;
            margin-left: 30px;
            &:first-child {
                margin-left: 0;
            }
            & .header {
                height: 50px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid #efefef;
                & span {
                    margin-left: 30px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 28px;
                    color: #333333;
                }
            }
            & .body {
                padding: 20px 20px;
                &-wrap {
                    display: flex;
                    margin-bottom: 10px;
                    &-card {
                        height: 100px;
                        margin-left: 20px;
                        width: 100%;
                        background: #FFFFFF;
                        box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
                        border-radius: 10px;
                        display: flex;
                        justify-content: space-between;
                        text-align: center;
                        align-items: center;
                        padding: 15px 20px;
                        & .price {
                            display: flex;
                            align-items: center;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 28px;
                            color: #999999;
                        }
                        &:first-child {
                            margin-left: 0;
                        }
                        & #paysystem {
                            margin-left: 60px;
                        }
                    }
                }
                
            }
        }
    }
    &-buttons {
        margin-top: 30px;
        padding: 10px 20px;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
        border-radius: 10px;
        & button {
            margin-right: 20px;
            width: 115px;
            height: 30px;
            border: none;
            background: #999999;
            border-radius: 10px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #FFFFFF;
            &:last-child {
                background: #FF7800;
                margin-right: 0;
            }
        }
    }
}