.right {
  display: flex;
  flex-direction: column;
  flex: 10;
  & .home-section_form {
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    width: 97%;
    background: #5a5a5a;
    border-radius: 10px;
    min-height: 200px;
    padding: 20px;
    & .form-mobile {
      display: none;
      padding: 0 20px;
      & input {
        width: 100%;
        height: 40px;
        background-color: white;
        border-radius: 10px;
        border: none;
        margin-top: 20px;
        &::placeholder {
          padding-left: 15px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          color: #999999;
        }
      }
      & .price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & input {
          width: 130px !important;
        }
        & span {
          color: white;
          margin-top: 20px;
        }
      }
      & button {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #2dba49;
        border-radius: 10px;
        border: none;
        width: 100%;
        width: 100%;
        height: 40px;
        color: white;
        align-self: flex-end;
      }
      & .button-filter {
        background: #ff7800;
        border-radius: 10px;
        border: none;
        color: white;
        margin-bottom: 20px;
      }
    }
    & .form {
      display: flex;
      flex-direction: column;
      width: 256px;
      margin-left: 20px;
      flex: 1;
      position: relative;
      &:first-child {
        margin-left: 0;
      }
      & input {
        padding: 15px;
        width: 100%;
        height: 40px;
        background-color: white;
        border-radius: 10px;
        border: none;
        margin-bottom: 20px;
        &::placeholder {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          color: #999999;
        }
      }
      & .price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & span {
          display: flex;
          align-items: center;
          color: white;
          margin-bottom: 15px;
        }
        & input {
          width: 149px;
          height: 40px;
          background-color: white;
          border-radius: 10px;
          border: none;
          &::placeholder {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #999999;
          }
        }
      }
      & .icons-control {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        width: 100%;
        height: 40px;
        background-color: #fff;
        border-radius: 10px;
        margin-bottom: 20px;
        & .title {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          color: #333333;
        }
        & .grid-theme {
          display: flex;
          & .grid {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #aeaeae;
            width: 28px;
            height: 28px;
            border-radius: 10px 0 0 10px;
          }
          & .list {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #aeaeae;
            width: 28px;
            height: 28px;
            border-radius: 0 10px 10px 0;
          }
          & .active {
            background-color: #ff7800;
          }
        }
      }
      & button {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #2dba49;
        border-radius: 10px;
        border: none;
        width: 100%;
        width: 100%;
        height: 40px;
        color: white;
        align-self: flex-end;
      }
      & .button-filter {
        background: #ff7800;
        border-radius: 10px;
        border: none;
        color: white;
      }
      &-region {
        padding: 15px;
        background: #ffffff;
        width: 100%;
        height: 40px;
        border-radius: 10px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        & .left {
          display: flex;
          & .title {
            margin-left: 15px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #333333;
          }
        }
        & .active {
          transform: rotate(-180deg);
        }
      }
      & .regions {
        position: absolute;
        top: 50px;
        width: 100%;
        padding: 20px;
        border-radius: 10px;
        background: #ffffff;
        box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
        z-index: 9;
        &-title {
          display: flex;
          justify-content: space-between;
          & span {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #333333;
          }
          & .icon {
            cursor: pointer;
          }
        }
        & .reg {
          cursor: pointer;
          margin-top: 10px;
          display: flex;
          justify-content: space-between;
          & span {
            cursor: pointer;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #999999;
          }
          & .icon {
            cursor: pointer;
            & img:last-child {
              display: none;
            }
          }
          &:hover {
            & span {
              color: #ff7800;
            }
            & .icon {
              & img:first-child {
                display: none;
              }
              & img:last-child {
                display: inline;
              }
            }
          }
        }
      }
      & .region-city {
        padding: 20px;
        position: absolute;
        top: 50px;
        left: 330px;
        width: 270px;
        background: #ffffff;
        box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
        border-radius: 10px;
        z-index: 10;
        &_title {
          display: flex;
          justify-content: space-between;
          & span {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #333333;
          }
          & .icon {
            cursor: pointer;
          }
        }
        &_tash {
          cursor: pointer;
          margin-top: 10px;
          display: flex;
          justify-content: space-between;
          & span {
            cursor: pointer;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #999999;
          }
          & .icon {
            cursor: pointer;
            & img:last-child {
              display: none;
            }
          }
          &:hover {
            & span {
              color: #ff7800;
            }
            & .icon {
              & img:first-child {
                display: none;
              }
              & img:last-child {
                display: inline;
              }
            }
          }
        }
      }
    }
  }
  .filtre {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
    border-radius: 10px;
    width: 97%;
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      color: #999999;
      & .links {
        margin-left: 20px;
        display: flex;
        align-items: center;
        & span {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
      & a {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        text-decoration: none;
        color: #999999;
        &:hover {
          color: #ff7800;
        }
      }
      & .icon {
        margin-right: 20px;
        & img {
          cursor: pointer;
        }
      }
      & .rotate {
        transform: rotate(-180deg);
      }
    }
    &-body {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #efefef;
      & .block {
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        & .title {
          margin-top: 20px;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          color: #333333;
        }
        & span {
          margin-top: 15px;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 18px;
          color: #999999;
          cursor: pointer;
          &:hover {
            color: #ff7800;
          }
        }
      }
    }
  }
}

.extended-filter {
  padding: 20px;
  overflow: scroll;
  position: fixed;
  z-index: 60;
  background: #f7faff;
  box-shadow: 0px 0px 88px rgba(0, 0, 0, 0.47);
  border-radius: 0px 10px 10px 0px;
  width: 360px;
  // height: 705px;
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .title {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #333333;
    }
    & .close {
      cursor: pointer;
    }
  }
  &_body {
    & .input-wrap {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      position: relative;
      & span {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
        color: #999999;
      }
      & .extended-select {
        cursor: pointer;
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 40px;
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
        & .title {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          color: #999999;
        }
        & .active {
          transform: rotate(-180deg);
        }
      }
      & .regions {
        position: absolute;
        top: 65px;
        width: 100%;
        padding: 20px;
        border-radius: 10px;
        background: #ffffff;
        box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
        z-index: 20;
        &-title {
          display: flex;
          justify-content: space-between;
          & span {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #333333;
          }
          & .icon {
            cursor: pointer;
          }
        }
        & .reg {
          cursor: pointer;
          margin-top: 10px;
          display: flex;
          justify-content: space-between;
          & span {
            cursor: pointer;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #999999;
          }
          & .icon {
            cursor: pointer;
            & img:last-child {
              display: none;
            }
          }
          &:hover {
            & span {
              color: #ff7800;
            }
            & .icon {
              & img:first-child {
                display: none;
              }
              & img:last-child {
                display: inline;
              }
            }
          }
        }
      }
      & input {
        margin-top: 5px;
        padding-left: 15px;
        background: #ffffff;
        box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
        border-radius: 10px;
        width: 100%;
        height: 40px;
        border: none;
        position: relative;
        &::after {
          position: absolute;
          content: url(/images/dropdown.svg);
          top: 50%;
          transform: translateY(-50%);
          right: 15px;
          width: 16px;
          height: 16px;
          z-index: 10;
        }
        &::placeholder {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          color: #999999;
        }
      }
    }
    & .input-wrapp {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      & span {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
        color: #999999;
      }
      & .inputs {
        margin-top: 5px;
        box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
        & input {
          padding-left: 15px;
          background: #ffffff;
          width: 50%;
          height: 40px;
          border: none;
          border-right: 1px solid #efefef;
          position: relative;
          &:first-child {
            border-radius: 10px 0 0 10px;
          }
          &:last-child {
            border-radius: 0 10px 10px 0;
            border-right: none;
          }
          &::after {
            position: absolute;
            content: url(/images/dropdown.svg);
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
            width: 16px;
            height: 16px;
            z-index: 10;
          }
          &::placeholder {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #999999;
          }
        }
      }
    }
    & .choices {
      margin-top: 15px;
      width: 100%;
      height: 40px;
      background: #ffffff;
      box-shadow: 0px 0px 30px rgba(45, 48, 58, 0.06);
      border-radius: 10px;
      display: flex;
      & .choice {
        cursor: pointer;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        & span {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          color: #999999;
        }
      }
      & .active {
        background: #5a5a5a;
        border-radius: 10px 0 0 10px;
        & span {
          color: white;
        }
        &:nth-child(2) {
          border-radius: 0;
        }
        &:last-child {
          border-radius: 0 10px 10px 0;
        }
      }
    }
    .buttons {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      & button {
        background: #999999;
        box-shadow: 0px 5px 20px rgba(45, 48, 58, 0.06);
        border-radius: 10px;
        border: none;
        width: 150px;
        height: 50px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #ffffff;
        &:last-child {
          background: #ff7800;
        }
      }
    }
  }
}

.myModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.5);
  z-index: 10;
}
.showModal {
  display: block;
}
