.user {
  background: #ffffff;
  width: 263px;
  height: 225px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(45, 48, 58, 0.06);
  &-header {
    background: #5a5a5a;
    height: 50px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    &_title {
      margin-left: 20px;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #ffffff;
    }
  }
  &-body {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    & .person {
      margin-top: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &-img {
        background: #aeaeae;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-name {
        margin-left: 15px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #333333;
      }
    }
    & .info {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      & .block {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        & .title {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 18px;
          color: #333333;
        }
        & span {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 18px;
          color: #999999;
        }
      }
    }
  }
}

.button {
  margin-top: 20px;
  & button {
    background: #ff7800;
    border-radius: 10px;
    border: none;
    width: 263px;
    height: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
  }
}
