<template>
    <div class="burger-menu">
        <!-- <div class="modal"> -->
            <button class="burger" @click="switchMenu">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.44824 6H20.5512C21.0732 6 21.5002 6.427 21.5002 6.949V7.051C21.5002 7.573 21.0732 8 20.5512 8H4.44824C3.92624 8 3.50024 7.573 3.50024 7.051V6.949C3.50024 6.427 3.92624 6 4.44824 6ZM20.5512 11H4.44824C3.92624 11 3.50024 11.427 3.50024 11.949V12.051C3.50024 12.573 3.92624 13 4.44824 13H20.5512C21.0732 13 21.5002 12.573 21.5002 12.051V11.949C21.5002 11.427 21.0732 11 20.5512 11ZM20.5512 16H4.44824C3.92624 16 3.50024 16.427 3.50024 16.949V17.051C3.50024 17.573 3.92624 18 4.44824 18H20.5512C21.0732 18 21.5002 17.573 21.5002 17.051V16.949C21.5002 16.427 21.0732 16 20.5512 16Z" fill="white"/>
                <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="3" y="6" width="19" height="12">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.44824 6H20.5512C21.0732 6 21.5002 6.427 21.5002 6.949V7.051C21.5002 7.573 21.0732 8 20.5512 8H4.44824C3.92624 8 3.50024 7.573 3.50024 7.051V6.949C3.50024 6.427 3.92624 6 4.44824 6ZM20.5512 11H4.44824C3.92624 11 3.50024 11.427 3.50024 11.949V12.051C3.50024 12.573 3.92624 13 4.44824 13H20.5512C21.0732 13 21.5002 12.573 21.5002 12.051V11.949C21.5002 11.427 21.0732 11 20.5512 11ZM20.5512 16H4.44824C3.92624 16 3.50024 16.427 3.50024 16.949V17.051C3.50024 17.573 3.92624 18 4.44824 18H20.5512C21.0732 18 21.5002 17.573 21.5002 17.051V16.949C21.5002 16.427 21.0732 16 20.5512 16Z" fill="white"/>
                </mask>
                <g mask="url(#mask0)">
                <!-- <rect x="0.5" width="24" height="24" fill="white"/> -->
                </g>
                </svg>
            </button>
            <div class="hamburger" v-bind:class="{'show-hamburger' : show}">
                <div class="hamburger-title">Добро пожаловать !</div>
                <div class="hamburger-menu">
                    <div class="menu">
                        <div class="menu-wrap">
                            <div class="menu-wrap_img">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.33337 4.66667C9.33337 3.93133 8.73537 3.33333 8.00004 3.33333C7.26471 3.33333 6.66671 3.93133 6.66671 4.66667C6.66671 5.402 7.26471 6 8.00004 6C8.73537 6 9.33337 5.402 9.33337 4.66667ZM10.6667 4.66667C10.6667 6.13733 9.47071 7.33333 8.00004 7.33333C6.52937 7.33333 5.33337 6.13733 5.33337 4.66667C5.33337 3.196 6.52937 2 8.00004 2C9.47071 2 10.6667 3.196 10.6667 4.66667ZM3.33337 13.3333C3.33337 10.76 5.42737 8.66667 8.00004 8.66667C10.5727 8.66667 12.6667 10.76 12.6667 13.3333C12.6667 13.7013 12.3687 14 12 14C11.6314 14 11.3334 13.7013 11.3334 13.3333C11.3334 11.4953 9.83804 10 8.00004 10C6.16204 10 4.66671 11.4953 4.66671 13.3333C4.66671 13.7013 4.36871 14 4.00004 14C3.63137 14 3.33337 13.7013 3.33337 13.3333Z" fill="white"/>
                                <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="3" y="2" width="10" height="12">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.33337 4.66667C9.33337 3.93133 8.73537 3.33333 8.00004 3.33333C7.26471 3.33333 6.66671 3.93133 6.66671 4.66667C6.66671 5.402 7.26471 6 8.00004 6C8.73537 6 9.33337 5.402 9.33337 4.66667ZM10.6667 4.66667C10.6667 6.13733 9.47071 7.33333 8.00004 7.33333C6.52937 7.33333 5.33337 6.13733 5.33337 4.66667C5.33337 3.196 6.52937 2 8.00004 2C9.47071 2 10.6667 3.196 10.6667 4.66667ZM3.33337 13.3333C3.33337 10.76 5.42737 8.66667 8.00004 8.66667C10.5727 8.66667 12.6667 10.76 12.6667 13.3333C12.6667 13.7013 12.3687 14 12 14C11.6314 14 11.3334 13.7013 11.3334 13.3333C11.3334 11.4953 9.83804 10 8.00004 10C6.16204 10 4.66671 11.4953 4.66671 13.3333C4.66671 13.7013 4.36871 14 4.00004 14C3.63137 14 3.33337 13.7013 3.33337 13.3333Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0)">
                                <!-- <rect width="16" height="16" fill="white"/> -->
                                </g>
                                </svg>
                            </div>
                            <div class="menu-wrap_item">Профиль</div>
                            <div class="menu-wrap_enter">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3333 2.66699H12.6667C13.0333 2.66699 13.3333 2.96699 13.3333 3.33366V12.667C13.3333 13.0337 13.0333 13.3337 12.6667 13.3337H11.3333C10.9667 13.3337 10.6667 13.0337 10.6667 12.667C10.6667 12.3003 10.9667 12.0003 11.3333 12.0003H12V4.00033H11.3333C10.9667 4.00033 10.6667 3.70033 10.6667 3.33366C10.6667 2.96699 10.9667 2.66699 11.3333 2.66699ZM6.93321 4.8006C7.22921 4.57993 7.64588 4.63993 7.86654 4.93393L9.86654 7.6006C10.0399 7.83126 10.0452 8.14726 9.87854 8.38393L8.00254 11.0506C7.87254 11.2353 7.66654 11.3339 7.45654 11.3339C7.32454 11.3339 7.19054 11.2946 7.07388 11.2126C6.77254 11.0006 6.69988 10.5846 6.91188 10.2833L8.05721 8.65526C8.04823 8.65616 8.03979 8.65867 8.0314 8.66116C8.02111 8.66423 8.0109 8.66726 7.99988 8.66726H2.66654C2.29854 8.66726 1.99988 8.3686 1.99988 8.0006C1.99988 7.63193 2.29854 7.33393 2.66654 7.33393H7.99988H8.00054L6.79988 5.73326C6.57921 5.43926 6.63854 5.02126 6.93321 4.8006Z" fill="white"/>
                                <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="2" width="13" height="12">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3333 2.66699H12.6667C13.0333 2.66699 13.3333 2.96699 13.3333 3.33366V12.667C13.3333 13.0337 13.0333 13.3337 12.6667 13.3337H11.3333C10.9667 13.3337 10.6667 13.0337 10.6667 12.667C10.6667 12.3003 10.9667 12.0003 11.3333 12.0003H12V4.00033H11.3333C10.9667 4.00033 10.6667 3.70033 10.6667 3.33366C10.6667 2.96699 10.9667 2.66699 11.3333 2.66699ZM6.93321 4.8006C7.22921 4.57993 7.64588 4.63993 7.86654 4.93393L9.86654 7.6006C10.0399 7.83126 10.0452 8.14726 9.87854 8.38393L8.00254 11.0506C7.87254 11.2353 7.66654 11.3339 7.45654 11.3339C7.32454 11.3339 7.19054 11.2946 7.07388 11.2126C6.77254 11.0006 6.69988 10.5846 6.91188 10.2833L8.05721 8.65526C8.04823 8.65616 8.03979 8.65867 8.0314 8.66116C8.02111 8.66423 8.0109 8.66726 7.99988 8.66726H2.66654C2.29854 8.66726 1.99988 8.3686 1.99988 8.0006C1.99988 7.63193 2.29854 7.33393 2.66654 7.33393H7.99988H8.00054L6.79988 5.73326C6.57921 5.43926 6.63854 5.02126 6.93321 4.8006Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0)">
                                <!-- <rect width="16" height="16" fill="white"/> -->
                                </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="menu">
                        <div class="menu-wrap">
                            <div class="menu-wrap_img">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 7.33333C9.63133 7.33333 9.33333 7.632 9.33333 8C9.33333 8.73533 8.73533 9.33333 8 9.33333C7.26467 9.33333 6.66667 8.73533 6.66667 8C6.66667 7.632 6.36867 7.33333 6 7.33333C5.63133 7.33333 5.33333 7.632 5.33333 8C5.33333 9.47067 6.52933 10.6667 8 10.6667C9.47067 10.6667 10.6667 9.47067 10.6667 8C10.6667 7.632 10.3687 7.33333 10 7.33333ZM12 12.6667H4C3.632 12.6667 3.33333 12.3673 3.33333 12V6H12.6667V12C12.6667 12.3673 12.368 12.6667 12 12.6667ZM5.41398 3.52867C5.53865 3.40467 5.70998 3.33333 5.88531 3.33333H10.1146C10.29 3.33333 10.4613 3.40467 10.586 3.52867L11.724 4.66667H4.27598L5.41398 3.52867ZM13.414 4.47133L11.5287 2.586C11.1513 2.208 10.6487 2 10.1147 2H5.88533C5.35133 2 4.84867 2.208 4.47133 2.586L2.586 4.47133C2.208 4.84867 2 5.35133 2 5.886V12C2 13.1027 2.89733 14 4 14H12C13.1027 14 14 13.1027 14 12V5.886C14 5.35133 13.792 4.84867 13.414 4.47133Z" fill="white"/>
                                <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="2" y="2" width="12" height="12">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 7.33333C9.63133 7.33333 9.33333 7.632 9.33333 8C9.33333 8.73533 8.73533 9.33333 8 9.33333C7.26467 9.33333 6.66667 8.73533 6.66667 8C6.66667 7.632 6.36867 7.33333 6 7.33333C5.63133 7.33333 5.33333 7.632 5.33333 8C5.33333 9.47067 6.52933 10.6667 8 10.6667C9.47067 10.6667 10.6667 9.47067 10.6667 8C10.6667 7.632 10.3687 7.33333 10 7.33333ZM12 12.6667H4C3.632 12.6667 3.33333 12.3673 3.33333 12V6H12.6667V12C12.6667 12.3673 12.368 12.6667 12 12.6667ZM5.41398 3.52867C5.53865 3.40467 5.70998 3.33333 5.88531 3.33333H10.1146C10.29 3.33333 10.4613 3.40467 10.586 3.52867L11.724 4.66667H4.27598L5.41398 3.52867ZM13.414 4.47133L11.5287 2.586C11.1513 2.208 10.6487 2 10.1147 2H5.88533C5.35133 2 4.84867 2.208 4.47133 2.586L2.586 4.47133C2.208 4.84867 2 5.35133 2 5.886V12C2 13.1027 2.89733 14 4 14H12C13.1027 14 14 13.1027 14 12V5.886C14 5.35133 13.792 4.84867 13.414 4.47133Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0)">
                                <!-- <rect width="16" height="16" fill="white"/> -->
                                </g>
                                </svg>
                            </div>
                            <div class="menu-wrap_item">Объявления</div>
                            <div class="menu-wrap_enter">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3333 2.66699H12.6667C13.0333 2.66699 13.3333 2.96699 13.3333 3.33366V12.667C13.3333 13.0337 13.0333 13.3337 12.6667 13.3337H11.3333C10.9667 13.3337 10.6667 13.0337 10.6667 12.667C10.6667 12.3003 10.9667 12.0003 11.3333 12.0003H12V4.00033H11.3333C10.9667 4.00033 10.6667 3.70033 10.6667 3.33366C10.6667 2.96699 10.9667 2.66699 11.3333 2.66699ZM6.93321 4.8006C7.22921 4.57993 7.64588 4.63993 7.86654 4.93393L9.86654 7.6006C10.0399 7.83126 10.0452 8.14726 9.87854 8.38393L8.00254 11.0506C7.87254 11.2353 7.66654 11.3339 7.45654 11.3339C7.32454 11.3339 7.19054 11.2946 7.07388 11.2126C6.77254 11.0006 6.69988 10.5846 6.91188 10.2833L8.05721 8.65526C8.04823 8.65616 8.03979 8.65867 8.0314 8.66116C8.02111 8.66423 8.0109 8.66726 7.99988 8.66726H2.66654C2.29854 8.66726 1.99988 8.3686 1.99988 8.0006C1.99988 7.63193 2.29854 7.33393 2.66654 7.33393H7.99988H8.00054L6.79988 5.73326C6.57921 5.43926 6.63854 5.02126 6.93321 4.8006Z" fill="white"/>
                                <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="2" width="13" height="12">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3333 2.66699H12.6667C13.0333 2.66699 13.3333 2.96699 13.3333 3.33366V12.667C13.3333 13.0337 13.0333 13.3337 12.6667 13.3337H11.3333C10.9667 13.3337 10.6667 13.0337 10.6667 12.667C10.6667 12.3003 10.9667 12.0003 11.3333 12.0003H12V4.00033H11.3333C10.9667 4.00033 10.6667 3.70033 10.6667 3.33366C10.6667 2.96699 10.9667 2.66699 11.3333 2.66699ZM6.93321 4.8006C7.22921 4.57993 7.64588 4.63993 7.86654 4.93393L9.86654 7.6006C10.0399 7.83126 10.0452 8.14726 9.87854 8.38393L8.00254 11.0506C7.87254 11.2353 7.66654 11.3339 7.45654 11.3339C7.32454 11.3339 7.19054 11.2946 7.07388 11.2126C6.77254 11.0006 6.69988 10.5846 6.91188 10.2833L8.05721 8.65526C8.04823 8.65616 8.03979 8.65867 8.0314 8.66116C8.02111 8.66423 8.0109 8.66726 7.99988 8.66726H2.66654C2.29854 8.66726 1.99988 8.3686 1.99988 8.0006C1.99988 7.63193 2.29854 7.33393 2.66654 7.33393H7.99988H8.00054L6.79988 5.73326C6.57921 5.43926 6.63854 5.02126 6.93321 4.8006Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0)">
                                <!-- <rect width="16" height="16" fill="white"/> -->
                                </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="menu">
                        <div class="menu-wrap">
                            <div class="menu-wrap_img">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.94279 3.33317H11.9401C13.2595 3.33317 14.3335 4.38851 14.3335 5.68584V7.33317C14.3335 7.70184 14.0355 7.99984 13.6668 7.99984C13.2981 7.99984 13.0001 7.70184 13.0001 7.33317V5.68584C13.0001 5.12451 12.5248 4.66651 11.9401 4.66651H3.94279L4.80479 5.52851C5.06479 5.78917 5.06479 6.21051 4.80479 6.47117C4.67479 6.60117 4.50413 6.66651 4.33346 6.66651C4.16279 6.66651 3.99213 6.60117 3.86213 6.47117L1.86213 4.47117C1.60146 4.21051 1.60146 3.78917 1.86213 3.52851L3.86213 1.52851C4.12213 1.26784 4.54413 1.26784 4.80479 1.52851C5.06479 1.78917 5.06479 2.21051 4.80479 2.47117L3.94279 3.33317ZM11.1953 9.52851C11.456 9.26784 11.8773 9.26784 12.138 9.52851L14.138 11.5285C14.3987 11.7892 14.3987 12.2105 14.138 12.4712L12.138 14.4712C12.008 14.6012 11.8373 14.6665 11.6667 14.6665C11.496 14.6665 11.3253 14.6012 11.1953 14.4712C10.9347 14.2105 10.9347 13.7892 11.1953 13.5285L12.0573 12.6665H4.06001C2.74001 12.6665 1.66668 11.6112 1.66668 10.3138V8.66651C1.66668 8.29784 1.96534 7.99984 2.33334 7.99984C2.70134 7.99984 3.00001 8.29784 3.00001 8.66651V10.3138C3.00001 10.8758 3.47534 11.3332 4.06001 11.3332H12.0573L11.1953 10.4712C10.9347 10.2105 10.9347 9.78918 11.1953 9.52851Z" fill="white"/>
                                <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="1" width="14" height="14">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.94279 3.33317H11.9401C13.2595 3.33317 14.3335 4.38851 14.3335 5.68584V7.33317C14.3335 7.70184 14.0355 7.99984 13.6668 7.99984C13.2981 7.99984 13.0001 7.70184 13.0001 7.33317V5.68584C13.0001 5.12451 12.5248 4.66651 11.9401 4.66651H3.94279L4.80479 5.52851C5.06479 5.78917 5.06479 6.21051 4.80479 6.47117C4.67479 6.60117 4.50413 6.66651 4.33346 6.66651C4.16279 6.66651 3.99213 6.60117 3.86213 6.47117L1.86213 4.47117C1.60146 4.21051 1.60146 3.78917 1.86213 3.52851L3.86213 1.52851C4.12213 1.26784 4.54413 1.26784 4.80479 1.52851C5.06479 1.78917 5.06479 2.21051 4.80479 2.47117L3.94279 3.33317ZM11.1953 9.52851C11.456 9.26784 11.8773 9.26784 12.138 9.52851L14.138 11.5285C14.3987 11.7892 14.3987 12.2105 14.138 12.4712L12.138 14.4712C12.008 14.6012 11.8373 14.6665 11.6667 14.6665C11.496 14.6665 11.3253 14.6012 11.1953 14.4712C10.9347 14.2105 10.9347 13.7892 11.1953 13.5285L12.0573 12.6665H4.06001C2.74001 12.6665 1.66668 11.6112 1.66668 10.3138V8.66651C1.66668 8.29784 1.96534 7.99984 2.33334 7.99984C2.70134 7.99984 3.00001 8.29784 3.00001 8.66651V10.3138C3.00001 10.8758 3.47534 11.3332 4.06001 11.3332H12.0573L11.1953 10.4712C10.9347 10.2105 10.9347 9.78918 11.1953 9.52851Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0)">
                                <!-- <rect width="16" height="16" fill="white"/> -->
                                </g>
                                </svg>
                            </div>
                            <div class="menu-wrap_item">Операции</div>
                            <div class="menu-wrap_enter">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3333 2.66699H12.6667C13.0333 2.66699 13.3333 2.96699 13.3333 3.33366V12.667C13.3333 13.0337 13.0333 13.3337 12.6667 13.3337H11.3333C10.9667 13.3337 10.6667 13.0337 10.6667 12.667C10.6667 12.3003 10.9667 12.0003 11.3333 12.0003H12V4.00033H11.3333C10.9667 4.00033 10.6667 3.70033 10.6667 3.33366C10.6667 2.96699 10.9667 2.66699 11.3333 2.66699ZM6.93321 4.8006C7.22921 4.57993 7.64588 4.63993 7.86654 4.93393L9.86654 7.6006C10.0399 7.83126 10.0452 8.14726 9.87854 8.38393L8.00254 11.0506C7.87254 11.2353 7.66654 11.3339 7.45654 11.3339C7.32454 11.3339 7.19054 11.2946 7.07388 11.2126C6.77254 11.0006 6.69988 10.5846 6.91188 10.2833L8.05721 8.65526C8.04823 8.65616 8.03979 8.65867 8.0314 8.66116C8.02111 8.66423 8.0109 8.66726 7.99988 8.66726H2.66654C2.29854 8.66726 1.99988 8.3686 1.99988 8.0006C1.99988 7.63193 2.29854 7.33393 2.66654 7.33393H7.99988H8.00054L6.79988 5.73326C6.57921 5.43926 6.63854 5.02126 6.93321 4.8006Z" fill="white"/>
                                <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="2" width="13" height="12">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3333 2.66699H12.6667C13.0333 2.66699 13.3333 2.96699 13.3333 3.33366V12.667C13.3333 13.0337 13.0333 13.3337 12.6667 13.3337H11.3333C10.9667 13.3337 10.6667 13.0337 10.6667 12.667C10.6667 12.3003 10.9667 12.0003 11.3333 12.0003H12V4.00033H11.3333C10.9667 4.00033 10.6667 3.70033 10.6667 3.33366C10.6667 2.96699 10.9667 2.66699 11.3333 2.66699ZM6.93321 4.8006C7.22921 4.57993 7.64588 4.63993 7.86654 4.93393L9.86654 7.6006C10.0399 7.83126 10.0452 8.14726 9.87854 8.38393L8.00254 11.0506C7.87254 11.2353 7.66654 11.3339 7.45654 11.3339C7.32454 11.3339 7.19054 11.2946 7.07388 11.2126C6.77254 11.0006 6.69988 10.5846 6.91188 10.2833L8.05721 8.65526C8.04823 8.65616 8.03979 8.65867 8.0314 8.66116C8.02111 8.66423 8.0109 8.66726 7.99988 8.66726H2.66654C2.29854 8.66726 1.99988 8.3686 1.99988 8.0006C1.99988 7.63193 2.29854 7.33393 2.66654 7.33393H7.99988H8.00054L6.79988 5.73326C6.57921 5.43926 6.63854 5.02126 6.93321 4.8006Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0)">
                                <!-- <rect width="16" height="16" fill="white"/> -->
                                </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="menu">
                        <div class="menu-wrap">
                            <div class="menu-wrap_img">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.66683 7.33317C4.66683 6.96517 4.96549 6.66651 5.33349 6.66651C5.70149 6.66651 6.00016 6.96517 6.00016 7.33317C6.00016 7.70117 5.70149 7.99984 5.33349 7.99984C4.96549 7.99984 4.66683 7.70117 4.66683 7.33317ZM8.00016 6.66651C7.63216 6.66651 7.33349 6.96517 7.33349 7.33317C7.33349 7.70117 7.63216 7.99984 8.00016 7.99984C8.36816 7.99984 8.66683 7.70117 8.66683 7.33317C8.66683 6.96517 8.36816 6.66651 8.00016 6.66651ZM10.6668 6.66651C10.2988 6.66651 10.0002 6.96517 10.0002 7.33317C10.0002 7.70117 10.2988 7.99984 10.6668 7.99984C11.0348 7.99984 11.3335 7.70117 11.3335 7.33317C11.3335 6.96517 11.0348 6.66651 10.6668 6.66651ZM13.2658 8.19644C12.9278 10.3658 11.1791 12.1651 9.01311 12.5711C7.96711 12.7684 6.90177 12.6558 5.93511 12.2464C5.66111 12.1304 5.37777 12.0718 5.09977 12.0718C4.97311 12.0718 4.84777 12.0838 4.72444 12.1084L2.84977 12.4831L3.22511 10.6051C3.30377 10.2151 3.25577 9.79777 3.08711 9.39844C2.67777 8.43177 2.56577 7.3671 2.76244 6.32044C3.16844 4.15444 4.96711 2.40577 7.13711 2.06777C8.86377 1.7991 10.5524 2.3431 11.7711 3.56177C12.9904 4.7811 13.5351 6.47044 13.2658 8.19644ZM12.7144 2.61911C11.1911 1.09644 9.08444 0.417106 6.93177 0.749773C4.21377 1.17377 1.96044 3.36311 1.45177 6.07444C1.20644 7.37977 1.34777 8.70911 1.85911 9.91777C1.92377 10.0718 1.94377 10.2151 1.91844 10.3438L1.34644 13.2024C1.30244 13.4211 1.37111 13.6471 1.52911 13.8044C1.65511 13.9311 1.82511 13.9998 2.00044 13.9998C2.04377 13.9998 2.08711 13.9958 2.13111 13.9871L4.98644 13.4158C5.15044 13.3844 5.30911 13.4304 5.41511 13.4744C6.62511 13.9858 7.95444 14.1264 9.25844 13.8818C11.9704 13.3731 14.1598 11.1198 14.5838 8.40177C14.9184 6.25044 14.2378 4.14244 12.7144 2.61911Z" fill="white"/>
                                <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="0" width="14" height="14">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.66683 7.33317C4.66683 6.96517 4.96549 6.66651 5.33349 6.66651C5.70149 6.66651 6.00016 6.96517 6.00016 7.33317C6.00016 7.70117 5.70149 7.99984 5.33349 7.99984C4.96549 7.99984 4.66683 7.70117 4.66683 7.33317ZM8.00016 6.66651C7.63216 6.66651 7.33349 6.96517 7.33349 7.33317C7.33349 7.70117 7.63216 7.99984 8.00016 7.99984C8.36816 7.99984 8.66683 7.70117 8.66683 7.33317C8.66683 6.96517 8.36816 6.66651 8.00016 6.66651ZM10.6668 6.66651C10.2988 6.66651 10.0002 6.96517 10.0002 7.33317C10.0002 7.70117 10.2988 7.99984 10.6668 7.99984C11.0348 7.99984 11.3335 7.70117 11.3335 7.33317C11.3335 6.96517 11.0348 6.66651 10.6668 6.66651ZM13.2658 8.19644C12.9278 10.3658 11.1791 12.1651 9.01311 12.5711C7.96711 12.7684 6.90177 12.6558 5.93511 12.2464C5.66111 12.1304 5.37777 12.0718 5.09977 12.0718C4.97311 12.0718 4.84777 12.0838 4.72444 12.1084L2.84977 12.4831L3.22511 10.6051C3.30377 10.2151 3.25577 9.79777 3.08711 9.39844C2.67777 8.43177 2.56577 7.3671 2.76244 6.32044C3.16844 4.15444 4.96711 2.40577 7.13711 2.06777C8.86377 1.7991 10.5524 2.3431 11.7711 3.56177C12.9904 4.7811 13.5351 6.47044 13.2658 8.19644ZM12.7144 2.61911C11.1911 1.09644 9.08444 0.417106 6.93177 0.749773C4.21377 1.17377 1.96044 3.36311 1.45177 6.07444C1.20644 7.37977 1.34777 8.70911 1.85911 9.91777C1.92377 10.0718 1.94377 10.2151 1.91844 10.3438L1.34644 13.2024C1.30244 13.4211 1.37111 13.6471 1.52911 13.8044C1.65511 13.9311 1.82511 13.9998 2.00044 13.9998C2.04377 13.9998 2.08711 13.9958 2.13111 13.9871L4.98644 13.4158C5.15044 13.3844 5.30911 13.4304 5.41511 13.4744C6.62511 13.9858 7.95444 14.1264 9.25844 13.8818C11.9704 13.3731 14.1598 11.1198 14.5838 8.40177C14.9184 6.25044 14.2378 4.14244 12.7144 2.61911Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0)">
                                <!-- <rect width="16" height="16" fill="white"/> -->
                                </g>
                                </svg>
                            </div>
                            <div class="menu-wrap_item">Сообщения</div>
                            <div class="menu-wrap_enter">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3333 2.66699H12.6667C13.0333 2.66699 13.3333 2.96699 13.3333 3.33366V12.667C13.3333 13.0337 13.0333 13.3337 12.6667 13.3337H11.3333C10.9667 13.3337 10.6667 13.0337 10.6667 12.667C10.6667 12.3003 10.9667 12.0003 11.3333 12.0003H12V4.00033H11.3333C10.9667 4.00033 10.6667 3.70033 10.6667 3.33366C10.6667 2.96699 10.9667 2.66699 11.3333 2.66699ZM6.93321 4.8006C7.22921 4.57993 7.64588 4.63993 7.86654 4.93393L9.86654 7.6006C10.0399 7.83126 10.0452 8.14726 9.87854 8.38393L8.00254 11.0506C7.87254 11.2353 7.66654 11.3339 7.45654 11.3339C7.32454 11.3339 7.19054 11.2946 7.07388 11.2126C6.77254 11.0006 6.69988 10.5846 6.91188 10.2833L8.05721 8.65526C8.04823 8.65616 8.03979 8.65867 8.0314 8.66116C8.02111 8.66423 8.0109 8.66726 7.99988 8.66726H2.66654C2.29854 8.66726 1.99988 8.3686 1.99988 8.0006C1.99988 7.63193 2.29854 7.33393 2.66654 7.33393H7.99988H8.00054L6.79988 5.73326C6.57921 5.43926 6.63854 5.02126 6.93321 4.8006Z" fill="white"/>
                                <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="2" width="13" height="12">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3333 2.66699H12.6667C13.0333 2.66699 13.3333 2.96699 13.3333 3.33366V12.667C13.3333 13.0337 13.0333 13.3337 12.6667 13.3337H11.3333C10.9667 13.3337 10.6667 13.0337 10.6667 12.667C10.6667 12.3003 10.9667 12.0003 11.3333 12.0003H12V4.00033H11.3333C10.9667 4.00033 10.6667 3.70033 10.6667 3.33366C10.6667 2.96699 10.9667 2.66699 11.3333 2.66699ZM6.93321 4.8006C7.22921 4.57993 7.64588 4.63993 7.86654 4.93393L9.86654 7.6006C10.0399 7.83126 10.0452 8.14726 9.87854 8.38393L8.00254 11.0506C7.87254 11.2353 7.66654 11.3339 7.45654 11.3339C7.32454 11.3339 7.19054 11.2946 7.07388 11.2126C6.77254 11.0006 6.69988 10.5846 6.91188 10.2833L8.05721 8.65526C8.04823 8.65616 8.03979 8.65867 8.0314 8.66116C8.02111 8.66423 8.0109 8.66726 7.99988 8.66726H2.66654C2.29854 8.66726 1.99988 8.3686 1.99988 8.0006C1.99988 7.63193 2.29854 7.33393 2.66654 7.33393H7.99988H8.00054L6.79988 5.73326C6.57921 5.43926 6.63854 5.02126 6.93321 4.8006Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0)">
                                <!-- <rect width="16" height="16" fill="white"/> -->
                                </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="menu">
                        <div class="menu-wrap">
                            <div class="menu-wrap_img">
                               <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.93517 7.74767C3.67917 8.00301 4.27184 8.62567 4.51984 9.41501L4.5465 9.49501C4.8305 10.3323 4.71517 11.2337 4.23917 11.9097C4.1525 12.0323 4.17184 12.179 4.26317 12.2483L5.6445 13.2977C5.69317 13.3343 5.7405 13.3343 5.76984 13.331C5.80317 13.3257 5.85184 13.3077 5.89117 13.2517L6.04517 13.033C6.5045 12.3817 7.2445 11.9797 8.02584 11.957C8.90317 11.939 9.69117 12.341 10.1818 13.0497L10.2605 13.1637C10.2998 13.2197 10.3478 13.2383 10.3818 13.2437C10.4112 13.2497 10.4592 13.2477 10.5072 13.2103L11.8812 12.1737C11.9772 12.1017 11.9985 11.9477 11.9272 11.8443L11.7538 11.5943C11.3072 10.949 11.1745 10.1117 11.3992 9.35501C11.6432 8.53101 12.2638 7.87901 13.0605 7.61234L13.1945 7.56701C13.3018 7.53167 13.3598 7.39834 13.3218 7.27567L12.7972 5.59501C12.7725 5.51634 12.7218 5.48101 12.6938 5.46634C12.6538 5.44567 12.6105 5.44234 12.5692 5.45634L12.3425 5.53167C11.5672 5.78967 10.7118 5.64967 10.0552 5.15567L9.98317 5.10167C9.35917 4.63234 8.98784 3.87567 8.9905 3.07834L8.99184 2.89167C8.99184 2.80301 8.94984 2.74767 8.9245 2.72234C8.9005 2.69767 8.85984 2.66834 8.8025 2.66834L7.1045 2.66634C7.0005 2.66634 6.91584 2.76567 6.91517 2.88834L6.9145 3.04967C6.91117 3.85967 6.53184 4.63034 5.89984 5.11234L5.81384 5.17767C5.1185 5.70634 4.21184 5.85567 3.3905 5.57567C3.35917 5.56501 3.32984 5.56701 3.30184 5.58167C3.2805 5.59234 3.24184 5.61967 3.22317 5.68034L2.6785 7.41101C2.63917 7.53701 2.70384 7.66834 2.82584 7.71034L2.93517 7.74767ZM5.74254 14.6663C5.41854 14.6663 5.10387 14.561 4.83854 14.359L3.4572 13.3103C2.7972 12.8103 2.6512 11.8483 3.1312 11.1663C3.38054 10.813 3.43187 10.359 3.2852 9.92834L3.24854 9.81634C3.12654 9.42834 2.84787 9.12701 2.5032 9.00901H2.50254L2.39387 8.97101C1.58187 8.69301 1.14854 7.83234 1.40654 7.01101L1.95054 5.28101C2.07387 4.88967 2.33987 4.57367 2.69987 4.39167C3.05187 4.21434 3.44987 4.18701 3.82187 4.31434C4.2212 4.45034 4.66454 4.37634 5.00654 4.11634L5.09254 4.05101C5.39654 3.81901 5.57987 3.44234 5.5812 3.04434L5.58187 2.88367C5.5852 2.02767 6.26854 1.33301 7.10387 1.33301H7.10654L8.80454 1.33501C9.20587 1.33567 9.58454 1.49434 9.86987 1.78167C10.1652 2.07834 10.3265 2.47501 10.3252 2.89834L10.3239 3.08434C10.3225 3.46167 10.4952 3.81834 10.7865 4.03701L10.8579 4.09101C11.1639 4.32101 11.5625 4.38701 11.9205 4.26701L12.1465 4.19167C12.5312 4.06367 12.9405 4.09501 13.3012 4.27967C13.6712 4.46901 13.9445 4.79501 14.0699 5.19834L14.5945 6.87901C14.8479 7.69101 14.4092 8.56701 13.6179 8.83167L13.4839 8.87634C13.0999 9.00567 12.7979 9.32567 12.6772 9.73368C12.5665 10.1077 12.6305 10.519 12.8499 10.835L13.0232 11.085C13.4992 11.773 13.3472 12.7383 12.6845 13.2377L11.3105 14.275C10.9805 14.5243 10.5759 14.625 10.1699 14.5603C9.76054 14.4943 9.4032 14.2677 9.16387 13.9223L9.0852 13.8077C8.85187 13.4717 8.47854 13.2677 8.0872 13.2897C7.6952 13.3003 7.35654 13.4863 7.1352 13.801L6.9812 14.0197C6.73987 14.3617 6.38187 14.585 5.97454 14.649C5.89654 14.661 5.8192 14.6663 5.74254 14.6663ZM8.00003 6.99962C7.44869 6.99962 7.00003 7.44828 7.00003 7.99962C7.00003 8.55095 7.44869 8.99962 8.00003 8.99962C8.55136 8.99962 9.00003 8.55095 9.00003 7.99962C9.00003 7.44828 8.55136 6.99962 8.00003 6.99962ZM8.00003 10.3329C6.71336 10.3329 5.66669 9.28628 5.66669 7.99961C5.66669 6.71295 6.71336 5.66628 8.00003 5.66628C9.28669 5.66628 10.3334 6.71295 10.3334 7.99961C10.3334 9.28628 9.28669 10.3329 8.00003 10.3329Z" fill="#F7FAFF"/>
                                <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="1" width="14" height="14">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.93517 7.74767C3.67917 8.00301 4.27184 8.62567 4.51984 9.41501L4.5465 9.49501C4.8305 10.3323 4.71517 11.2337 4.23917 11.9097C4.1525 12.0323 4.17184 12.179 4.26317 12.2483L5.6445 13.2977C5.69317 13.3343 5.7405 13.3343 5.76984 13.331C5.80317 13.3257 5.85184 13.3077 5.89117 13.2517L6.04517 13.033C6.5045 12.3817 7.2445 11.9797 8.02584 11.957C8.90317 11.939 9.69117 12.341 10.1818 13.0497L10.2605 13.1637C10.2998 13.2197 10.3478 13.2383 10.3818 13.2437C10.4112 13.2497 10.4592 13.2477 10.5072 13.2103L11.8812 12.1737C11.9772 12.1017 11.9985 11.9477 11.9272 11.8443L11.7538 11.5943C11.3072 10.949 11.1745 10.1117 11.3992 9.35501C11.6432 8.53101 12.2638 7.87901 13.0605 7.61234L13.1945 7.56701C13.3018 7.53167 13.3598 7.39834 13.3218 7.27567L12.7972 5.59501C12.7725 5.51634 12.7218 5.48101 12.6938 5.46634C12.6538 5.44567 12.6105 5.44234 12.5692 5.45634L12.3425 5.53167C11.5672 5.78967 10.7118 5.64967 10.0552 5.15567L9.98317 5.10167C9.35917 4.63234 8.98784 3.87567 8.9905 3.07834L8.99184 2.89167C8.99184 2.80301 8.94984 2.74767 8.9245 2.72234C8.9005 2.69767 8.85984 2.66834 8.8025 2.66834L7.1045 2.66634C7.0005 2.66634 6.91584 2.76567 6.91517 2.88834L6.9145 3.04967C6.91117 3.85967 6.53184 4.63034 5.89984 5.11234L5.81384 5.17767C5.1185 5.70634 4.21184 5.85567 3.3905 5.57567C3.35917 5.56501 3.32984 5.56701 3.30184 5.58167C3.2805 5.59234 3.24184 5.61967 3.22317 5.68034L2.6785 7.41101C2.63917 7.53701 2.70384 7.66834 2.82584 7.71034L2.93517 7.74767ZM5.74254 14.6663C5.41854 14.6663 5.10387 14.561 4.83854 14.359L3.4572 13.3103C2.7972 12.8103 2.6512 11.8483 3.1312 11.1663C3.38054 10.813 3.43187 10.359 3.2852 9.92834L3.24854 9.81634C3.12654 9.42834 2.84787 9.12701 2.5032 9.00901H2.50254L2.39387 8.97101C1.58187 8.69301 1.14854 7.83234 1.40654 7.01101L1.95054 5.28101C2.07387 4.88967 2.33987 4.57367 2.69987 4.39167C3.05187 4.21434 3.44987 4.18701 3.82187 4.31434C4.2212 4.45034 4.66454 4.37634 5.00654 4.11634L5.09254 4.05101C5.39654 3.81901 5.57987 3.44234 5.5812 3.04434L5.58187 2.88367C5.5852 2.02767 6.26854 1.33301 7.10387 1.33301H7.10654L8.80454 1.33501C9.20587 1.33567 9.58454 1.49434 9.86987 1.78167C10.1652 2.07834 10.3265 2.47501 10.3252 2.89834L10.3239 3.08434C10.3225 3.46167 10.4952 3.81834 10.7865 4.03701L10.8579 4.09101C11.1639 4.32101 11.5625 4.38701 11.9205 4.26701L12.1465 4.19167C12.5312 4.06367 12.9405 4.09501 13.3012 4.27967C13.6712 4.46901 13.9445 4.79501 14.0699 5.19834L14.5945 6.87901C14.8479 7.69101 14.4092 8.56701 13.6179 8.83167L13.4839 8.87634C13.0999 9.00567 12.7979 9.32567 12.6772 9.73368C12.5665 10.1077 12.6305 10.519 12.8499 10.835L13.0232 11.085C13.4992 11.773 13.3472 12.7383 12.6845 13.2377L11.3105 14.275C10.9805 14.5243 10.5759 14.625 10.1699 14.5603C9.76054 14.4943 9.4032 14.2677 9.16387 13.9223L9.0852 13.8077C8.85187 13.4717 8.47854 13.2677 8.0872 13.2897C7.6952 13.3003 7.35654 13.4863 7.1352 13.801L6.9812 14.0197C6.73987 14.3617 6.38187 14.585 5.97454 14.649C5.89654 14.661 5.8192 14.6663 5.74254 14.6663ZM8.00003 6.99962C7.44869 6.99962 7.00003 7.44828 7.00003 7.99962C7.00003 8.55095 7.44869 8.99962 8.00003 8.99962C8.55136 8.99962 9.00003 8.55095 9.00003 7.99962C9.00003 7.44828 8.55136 6.99962 8.00003 6.99962ZM8.00003 10.3329C6.71336 10.3329 5.66669 9.28628 5.66669 7.99961C5.66669 6.71295 6.71336 5.66628 8.00003 5.66628C9.28669 5.66628 10.3334 6.71295 10.3334 7.99961C10.3334 9.28628 9.28669 10.3329 8.00003 10.3329Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0)">
                                <!-- <rect width="16" height="16" fill="#F7FAFF"/> -->
                                </g>
                                </svg>
                            </div>
                            <div class="menu-wrap_item">Настройки</div>
                            <div class="menu-wrap_enter">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3333 2.66699H12.6667C13.0333 2.66699 13.3333 2.96699 13.3333 3.33366V12.667C13.3333 13.0337 13.0333 13.3337 12.6667 13.3337H11.3333C10.9667 13.3337 10.6667 13.0337 10.6667 12.667C10.6667 12.3003 10.9667 12.0003 11.3333 12.0003H12V4.00033H11.3333C10.9667 4.00033 10.6667 3.70033 10.6667 3.33366C10.6667 2.96699 10.9667 2.66699 11.3333 2.66699ZM6.93321 4.8006C7.22921 4.57993 7.64588 4.63993 7.86654 4.93393L9.86654 7.6006C10.0399 7.83126 10.0452 8.14726 9.87854 8.38393L8.00254 11.0506C7.87254 11.2353 7.66654 11.3339 7.45654 11.3339C7.32454 11.3339 7.19054 11.2946 7.07388 11.2126C6.77254 11.0006 6.69988 10.5846 6.91188 10.2833L8.05721 8.65526C8.04823 8.65616 8.03979 8.65867 8.0314 8.66116C8.02111 8.66423 8.0109 8.66726 7.99988 8.66726H2.66654C2.29854 8.66726 1.99988 8.3686 1.99988 8.0006C1.99988 7.63193 2.29854 7.33393 2.66654 7.33393H7.99988H8.00054L6.79988 5.73326C6.57921 5.43926 6.63854 5.02126 6.93321 4.8006Z" fill="white"/>
                                <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="2" width="13" height="12">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3333 2.66699H12.6667C13.0333 2.66699 13.3333 2.96699 13.3333 3.33366V12.667C13.3333 13.0337 13.0333 13.3337 12.6667 13.3337H11.3333C10.9667 13.3337 10.6667 13.0337 10.6667 12.667C10.6667 12.3003 10.9667 12.0003 11.3333 12.0003H12V4.00033H11.3333C10.9667 4.00033 10.6667 3.70033 10.6667 3.33366C10.6667 2.96699 10.9667 2.66699 11.3333 2.66699ZM6.93321 4.8006C7.22921 4.57993 7.64588 4.63993 7.86654 4.93393L9.86654 7.6006C10.0399 7.83126 10.0452 8.14726 9.87854 8.38393L8.00254 11.0506C7.87254 11.2353 7.66654 11.3339 7.45654 11.3339C7.32454 11.3339 7.19054 11.2946 7.07388 11.2126C6.77254 11.0006 6.69988 10.5846 6.91188 10.2833L8.05721 8.65526C8.04823 8.65616 8.03979 8.65867 8.0314 8.66116C8.02111 8.66423 8.0109 8.66726 7.99988 8.66726H2.66654C2.29854 8.66726 1.99988 8.3686 1.99988 8.0006C1.99988 7.63193 2.29854 7.33393 2.66654 7.33393H7.99988H8.00054L6.79988 5.73326C6.57921 5.43926 6.63854 5.02126 6.93321 4.8006Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0)">
                                <!-- <rect width="16" height="16" fill="white"/> -->
                                </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </div>
</template>

<script>
export default {
    data () {
        return {
            show: false,
            // modal: false
        }
    },
    methods: {
        switchMenu() {
            this.show = !this.show;
        }
    }
}
</script>

<style lang="scss">

.burger-menu {
    // display: none;
}
.burger {
    width: 50px;
    height: 50px;
    background: #FF7800;
    box-shadow: 0px 5px 20px rgba(45, 48, 58, 0.06);
    border-radius: 10px;
    border: none;
}
.hamburger{
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    height: 100%;
    background: #5A5A5A;
    z-index: 99;
    width: 260px;
    transition: .2s all ease-out;
    &-title {
        margin-top: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
    }
    & .hamburger-menu {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        & .menu {
            &-wrap {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
                &_img {
                    margin-left: 35px;
                }
                &_item {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 22px;
                    color: #FFFFFF;
                }
                &_enter {
                    margin-right: 35px;
                }
                &:hover {
                    background: #FF7800;
                    border-radius: 10px;
                }
            }
        }
    }
}
.show-hamburger{
    left: 0;
}
</style>