<template>
  <div>
    <div class="profile-product" v-for="(favorit, index) in favorite" :key="index">
      <div class="profile-product_wrap">
        <div class="left">
          <div class="image">
            <img src="../assets/images/top.svg" />
            <div class="image-right">
              <img src="../assets/images/top-right.svg" />
            </div>
            <div class="image-bottom">
              <img src="../assets/images/orange.svg" alt />
            </div>
          </div>
        </div>
        <div class="right">
          <div class="right-title">{{ favorit.title }}</div>
          <div class="right-about">
            <span>{{ favorit.city }}</span>
            <span>{{ favorit.price }}</span>
          </div>
        </div>
      </div>
      <div class="profile-product_buttons">
        <router-link to="messages/chat" class="lnk">
          <img src="../assets/images/small-mes.svg" alt />
          <span>Написать</span>
        </router-link>
        <button class="lnk">
          <img src="../assets/images/small-call.svg" alt />
          <span>Позвонить</span>
        </button>
        <button class="lnk" @click="removeProduct(index)">Удалить с избранных</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      favorite: [
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "100 000 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "100 000 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "100 000 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "100 000 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "100 000 000 UZS"
        }
      ]
    };
  },
  methods: {
    removeProduct: function(index) {
      this.favorite.splice(index, 1);
    }
  }
};
</script>