<template>
    <div class="wrapper">
        <footer class="footer">
            <div class="footer-wrapp container">
                <div class="footer-wrapp_content">
                    <div class="footer-wrapp_content_block">
                        <div class="title">Безопасность</div>
                        <p>Защита персональных данных</p>
                        <p>Условия использования</p>
                        <p>Соглашение о членстве</p>
                    </div>
                    <div class="footer-wrapp_content_block">
                        <div class="title">Наши услуги</div>
                        <p>Легирование</p>
                        <p>Массовая запись продукта</p>
                        <p>Натуральная реклама владельца</p>
                    </div>
                    <div class="footer-wrapp_content_block">
                        <div class="title">Поддержка</div>
                        <div class="call-number">998 71 700-00-00</div>
                        <p>support@topin.uz</p>
                    </div>
                </div>
                <div class="footer-wrapp_links">
                    <div class="social">
                        <img src="../assets/images/1.svg" alt="">
                        <img src="../assets/images/3.svg" alt="">
                        <img src="../assets/images/2.svg" alt="">
                    </div>
                    <div class="apps">
                        <img src="../assets/images/GooglePlay.svg" alt="">
                        <img src="../assets/images/AppStore.svg" alt="">
                    </div>
                </div>
            </div>
        </footer>
        <div class="end container">
            <div class="end_left">
                <span>© 2020 Top in</span>
            </div>
            <div class="end_right">
                <p>Разработано командой:</p>
                <router-link to="#">
                    <img src="../assets/images/indev-logo.svg" alt="">
                </router-link>
            </div>
        </div>
    </div>
</template>