<template>
  <div>
    <div class="mess-block" v-for="(mess, index) in messBlock" :key="index">
      <div class="mess-block_left">
        <div class="mess-img"></div>
        <div class="content">
          <span class="id-title">{{ mess.name }}</span>
          <span class="id-descr1">{{ mess.descr1 }}</span>
          <span class="id-descr2">{{ mess.descr2 }}</span>
        </div>
      </div>
      <div class="mess-block_right">
        <span class="day">{{ mess.day }}</span>
        <div class="notification" v-if="mess.notification">{{ mess.notification }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      messBlock: [
        {
          name: "Имя пользователя",
          descr1: "Текст название продукта которая будет изображеа ",
          descr2:
            "Текст сообщения иногда может быть очен длинным поэтому изображается в 2 строки",
          day: "Пт",
          notification: "2"
        },
        {
          name: "Имя пользователя",
          descr1: "Текст название продукта которая будет изображеа ",
          descr2:
            "Текст сообщения иногда может быть очен длинным поэтому изображается в 2 строки",
          day: "Пт"
        },
        {
          name: "Имя пользователя",
          descr1: "Текст название продукта которая будет изображеа ",
          descr2:
            "Текст сообщения иногда может быть очен длинным поэтому изображается в 2 строки",
          day: "Пт"
        },
        {
          name: "Имя пользователя",
          descr1: "Текст название продукта которая будет изображеа ",
          descr2:
            "Текст сообщения иногда может быть очен длинным поэтому изображается в 2 строки",
          day: "Пт"
        },
        {
          name: "Имя пользователя",
          descr1: "Текст название продукта которая будет изображеа ",
          descr2:
            "Текст сообщения иногда может быть очен длинным поэтому изображается в 2 строки",
          day: "Пт"
        },
        {
          name: "Имя пользователя",
          descr1: "Текст название продукта которая будет изображеа ",
          descr2:
            "Текст сообщения иногда может быть очен длинным поэтому изображается в 2 строки",
          day: "Пт"
        },
        {
          name: "Имя пользователя",
          descr1: "Текст название продукта которая будет изображеа ",
          descr2:
            "Текст сообщения иногда может быть очен длинным поэтому изображается в 2 строки",
          day: "Пт"
        },
        {
          name: "Имя пользователя",
          descr1: "Текст название продукта которая будет изображеа ",
          descr2:
            "Текст сообщения иногда может быть очен длинным поэтому изображается в 2 строки",
          day: "Пт"
        }
      ]
    };
  }
};
</script>