<template>
  <nav class="nav">
    <div class="container">
      <div class="nav-header">
        <div class="nav-header_left">
          <div class="nav-header_left_logo">
            <router-link to="/">
              <img src="../assets/images/logo.svg" alt />
            </router-link>
          </div>
          <form class="nav-header_left_search">
            <div class="search">
              <input id="search" type="text" placeholder="Что вы ищете?" />
            </div>
            <div class="region">
              <!-- <vSelect :options="options" :placeholder="this.placeholder" /> -->
              <div class="region-select" @click="select = !select">
                <img src="../assets/images/pin-select.svg" alt />
                <span>Весь Узбекистан</span>
                <div class="icon" :class="{ active: select === true }">
                  <img src="../assets/images/dropdown2.svg" alt />
                </div>
              </div>
              <div class="regions" v-if="select">
                <div class="regions-title">
                  <span>Все регионы</span>
                  <div class="icon">
                    <img src="../assets/images/drop-right-dark.svg" alt />
                  </div>
                </div>
                <div
                  class="reg"
                  v-for="(region, index) in regions"
                  :key="index"
                  @click="tashkentShow = !tashkentShow"
                >
                  <span>{{ region.name }}</span>
                  <div class="icon">
                    <img src="../assets/images/drop-right.svg" alt />
                    <img src="../assets/images/drop-right-hover.svg" alt />
                  </div>
                </div>
              </div>
              <div class="region-city" v-if="tashkentShow">
                <div class="region-city_title">
                  <span>Город Ташкент</span>
                  <div class="icon">
                    <img src="../assets/images/drop-right-dark.svg" alt />
                  </div>
                </div>
                <div
                  class="region-city_tash"
                  v-for="(tash, index) in tashkent"
                  :key="index"
                  @click="tashkentShow = false"
                >
                  <span>{{ tash.name }}</span>
                  <div class="icon">
                    <img src="../assets/images/drop-right.svg" alt />
                    <img src="../assets/images/drop-right-hover.svg" alt />
                  </div>
                </div>
              </div>
            </div>
            <router-link to="/search">
              <button>
                <img src="../assets/images/search.svg" alt />
              </button>
            </router-link>
          </form>
        </div>
        <div class="nav-header_right">
          <div class="small-search_button">
            <router-link to="/search">
              <button>
                <img src="../assets/images/search.svg" alt />
              </button>
            </router-link>
          </div>
          <div class="nav-header_right_add">
            <router-link to="/addProduct">
              <button>
                <img src="../assets/images/plus.svg" alt />
                <span>Добавить объявление</span>
              </button>
            </router-link>
          </div>
          <div class="nav-header_right_language" :class=" { active: language === true } ">
            <div class="lang" @click="language = !language">RU</div>
            <div class="language" v-if="language">
              <div class="lang1" @click="language = !language">RU</div>
              <div class="lang1" @click="language = !language">УЗ</div>
              <div class="lang1" @click="language = !language">UZ</div>
            </div>
          </div>
          <div class="nav-header_right_profile">
            <router-link to="/profile">
              <button>
                <img src="../assets/images/profile.svg" alt />
                <span>Профиль</span>
              </button>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
export default {
  components: { vSelect },
  data() {
    return {
      language: false,
      select: false,
      tashkentShow: false,
      show: false,
      regions: [
        {
          name: "Город Ташкент",
          id: 0
        },
        {
          name: "Андижанская область",
          id: 0
        },
        {
          name: "Бухарская область",
          id: 0
        },
        {
          name: "Джизакская область",
          id: 0
        },
        {
          name: "Кашкадарьинская область",
          id: 0
        },
        {
          name: "Навоийская область",
          id: 0
        },
        {
          name: "Наманганская область",
          id: 0
        },
        {
          name: "Самаркандская область",
          id: 0
        },
        {
          name: "Сурхандарьинская область",
          id: 0
        },
        {
          name: "Ташкентская область",
          id: 0
        },
        {
          name: "Ферганская область",
          id: 0
        },
        {
          name: "Хорезмская область",
          id: 0
        },
        {
          name: "Республика Каракалпакстан",
          id: 0
        }
      ],
      tashkent: [
        {
          name: "Алмазарский район",
          id: 0
        },
        {
          name: "Бектемирский район",
          id: 0
        },
        {
          name: "Мирабадский район",
          id: 0
        },
        {
          name: "Мирзо-Улугбекский район",
          id: 0
        },
        {
          name: "Сергелийский район",
          id: 0
        },
        {
          name: "Учтепинский район",
          id: 0
        },
        {
          name: "Хамзинский район",
          id: 0
        },
        {
          name: "Чиланзарский район",
          id: 0
        },
        {
          name: "Шайхантахурский район",
          id: 0
        },
        {
          name: "	Юнусабадский район",
          id: 0
        },
        {
          name: "	Яккасарайский район",
          id: 0
        }
      ]
    };
  }
};
</script>