<template>
  <div>
    <div class="id-block" v-for="(operation, index) in operations" :key="index">
      <div class="id-block_info">
        <span>{{ operation.number }}</span>
        <span>{{ operation.date }}</span>
      </div>
      <div class="id-block_info">
        <span class="id-title">{{ operation.title }}</span>
      </div>
      <div class="id-block_info">
        <span>{{ operation.info }}</span>
        <span class="price">{{ operation.price }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      operations: [
        {
          number: "№ 002374323",
          date: "21:42, 09.04.2020",
          title: "Кеды новые замшевые pull&bear 37-38",
          info: "Легкий старт (1 месяц)",
          price: "- 23 000 UZS"
        },
        {
          number: "№ 002374323",
          date: "21:42, 09.04.2020",
          title: "Кеды новые замшевые pull&bear 37-38",
          info: "Легкий старт (1 месяц)",
          price: "- 23 000 UZS"
        },
        {
          number: "№ 002374323",
          date: "21:42, 09.04.2020",
          title: "Кеды новые замшевые pull&bear 37-38",
          info: "Легкий старт (1 месяц)",
          price: "- 23 000 UZS"
        },
        {
          number: "№ 002374323",
          date: "21:42, 09.04.2020",
          title: "Кеды новые замшевые pull&bear 37-38",
          info: "Легкий старт (1 месяц)",
          price: "- 23 000 UZS"
        },
        {
          number: "№ 002374323",
          date: "21:42, 09.04.2020",
          title: "Кеды новые замшевые pull&bear 37-38",
          info: "Легкий старт (1 месяц)",
          price: "- 23 000 UZS"
        },
        {
          number: "№ 002374323",
          date: "21:42, 09.04.2020",
          title: "Кеды новые замшевые pull&bear 37-38",
          info: "Легкий старт (1 месяц)",
          price: "- 23 000 UZS"
        }
      ]
    };
  }
};
</script>