<template>
  <div class="pagination container mob">
    <div class="pagination-buttons">
      <button class="arrows">
        <img src="../assets/images/btn-prev.svg" alt />
        <span>Пред.</span>
      </button>
      <button class="numbers">1</button>
      <button class="numbers">2</button>
      <button class="numbers">3</button>
      <button class="numbers">4</button>
      <button class="numbers">5</button>
      <span class="dots">...</span>
      <button class="numbers">200</button>
      <button class="arrows">
        <span>След.</span>
        <img src="../assets/images/btn-next.svg" alt />
      </button>
    </div>
  </div>
</template>

<script>
export default {};
</script>