<template>
  <div class="home-section_products mobile">
    <router-link
      to="/prewiew"
      class="product mini"
      v-for="(product, index) in products"
      :key="'prod'+ index"
    >
      <div class="product-header">
        <img src="../assets/images/top.svg" />
        <div class="img-right">
          <img src="../assets/images/top-right.svg" />
        </div>
        <div class="img-bottom">
          <img src="../assets/images/orange.svg" alt />
        </div>
      </div>
      <div class="product-body">
        <span class="title">{{ product.title }}</span>
        <div class="about">
          <span>{{ product.city }}</span>
          <span class="price">{{ product.price }}</span>
        </div>
      </div>
    </router-link>

    <!-- <div class="product-mobile" v-for="(product, index) in products" :key="'mobile' + index">
            <div class="product-header">
                <img src="../assets/images/top.svg">
                <div class="img-right">
                    <img src="../assets/images/top-right.svg">
                </div>
                <div class="img-bottom">
                    <img src="../assets/images/orange.svg" alt="">
                </div>
            </div>
            <div class="product-mobile_right">
                <div class="title">
                    <span> {{ product.title }} </span>
                    <div class="about">
                        <span> {{ product.city }} </span>
                        <span class="price"> {{ product.price }} </span>
                    </div>
                </div>
            </div>
    </div>-->

    <div class="product-full" v-for="(product, index) in products" :key="index">
      <div class="product-left">
        <img src="../assets/images/top.svg" />
        <div class="img-right">
          <img src="../assets/images/top-right.svg" />
        </div>
        <div class="img-bottom">
          <img src="../assets/images/orange.svg" alt />
        </div>
      </div>
      <div class="product-full_right">
        <div class="title">
          <span>{{ product.title }}</span>
          <span>{{ product.price }}</span>
        </div>
        <div class="adress">
          <span>Объявления Ташкент >> Личные вещи >> Обувь</span>
          <span>Опубликовал: Артур Максимов</span>
        </div>
        <div class="city">
          <span>Ташкент, Ташкентская область, Юнусабадский район</span>
          <span>Добавлено в 21:42, 9 апреля 2020</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    products: {
      type: Array,
      required: true
    }
  }
};
</script>