<template>
  <div>
    <div class="profile-product" v-for="(prof, index) in profProduct" :key="index">
      <div class="profile-product_wrap">
        <div class="left">
          <div class="image">
            <img src="../assets/images/top.svg" />
            <div class="image-right">
              <img src="../assets/images/top-right.svg" />
            </div>
            <div class="image-bottom">
              <img src="../assets/images/orange.svg" alt />
            </div>
          </div>
        </div>
        <div class="right">
          <div class="right-title">{{ prof.title }}</div>
          <div class="right-about">
            <span>{{ prof.city }}</span>
            <span>{{ prof.price }}</span>
          </div>
        </div>
      </div>
      <div class="profile-product_buttons">
        <router-link class="lnk" to="/prewiew">Посмотреть</router-link>
        <router-link class="lnk" to="#">Редактировать</router-link>
        <router-link class="lnk" to="#">Отключить</router-link>
        <router-link class="lnk" to="/reclam">Рекламировать</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      profProduct: [
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "100 000 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "100 000 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "100 000 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "100 000 000 UZS"
        },
        {
          title: "Текст название продукта которая будет изображеа",
          city: "Ташкент",
          price: "100 000 000 UZS"
        }
      ]
    };
  }
};
</script>