<template>
  <aside class="sidebar">
    <div class="sidebar-header">
      <div class="about">
        <div class="about-left">
          <div class="left-title">Баланс:</div>
          <div class="left-price">900 000 UZS</div>
        </div>
        <div class="about-right">
          <router-link to="/replenishment">Пополнить</router-link>
        </div>
      </div>
      <div class="setting">
        <router-link
          to="/settings"
          :class="{'router-link-active': $route.fullPath ==='/' || $route.fullPath === '/a'}"
        >
          <!-- <button @click="setSettings(0)" :class="{ active: settings === 0 }"> -->
          <span>Настройки</span>
        </router-link>
      </div>
    </div>
    <div class="sidebar-body">
      <div class="menu">
        <router-link
          to="/profile"
          class="menu-button"
          :class="{'router-link-active': $route.fullPath ==='/' || $route.fullPath === '/a'}"
        >
          <!-- <button @click="setSettings(1)" :class="{ active: settings === 1 }" class="menu-button"> -->
          <div class="menu-button-wrap">
            <img src="../assets/images/profile.svg" alt />
            <span>Профиль</span>
          </div>
        </router-link>
        <router-link to="/ads" class="menu-button">
          <!-- <button @click="setSettings(2)" :class="{ active: settings === 2 }" class="menu-button"> -->
          <div class="menu-button-wrap">
            <img src="../assets/images/advert.svg" alt />
            <span>Объявления</span>
          </div>
        </router-link>
        <router-link to="/operations" class="menu-button">
          <!-- <button @click="setSettings(3)" :class="{ active: settings === 3 }" class="menu-button"> -->
          <div class="menu-button-wrap">
            <img src="../assets/images/operation.svg" alt />
            <span>Операции</span>
          </div>
        </router-link>
        <router-link to="/messages" class="menu-button">
          <!-- <button @click="setSettings(4)" :class="{ active: settings === 4 }" class="menu-button"> -->
          <div class="menu-button-wrap">
            <img src="../assets/images/messages.svg" alt />
            <span>Сообщения</span>
          </div>
          <div class="notif">
            <div class="notific">2</div>
          </div>
        </router-link>
        <router-link to="/favorite" class="menu-button">
          <!-- <button @click="setSettings(5)" :class="{ active: settings === 5 }" class="menu-button"> -->
          <div class="menu-button-wrap">
            <img src="../assets/images/favorite.svg" alt />
            <span>Избранные</span>
          </div>
        </router-link>
      </div>
    </div>
  </aside>
</template>

<script>
// // export default {
// //   props: {
// //     setSettings: Function,
// //     settings: Number
// //   }
// // };
// //
</script>