<template>
  <div class="wrapper">
    <div class="myModal"></div>
    <navigator />
    <router-view />
    <Footer
      v-show="$route.name !=='entering1' &&
      $route.name !=='entering2' &&
      $route.name !=='entering3' &&
      $route.name !=='registration' &&
      $route.name !=='Cart'
      "
    />
  </div>
</template>

<script>
import navigator from "@/components/Navigator.vue";
import Footer from "@/components/Footer.vue";

export default {
  components: { navigator, Footer }
};
</script>
